<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>《睡美人黑童话》SLEEPING BEAUTY </string>
	<string>《爸爸妈妈听我说》</string>
	<string>柳桥的故事</string>
	<string>柳树姑娘</string>
	<string>柴娃娃</string>
	<string>骄傲的大公鸡</string>
	<string>骄傲的大白鹅</string>
	<string>骄傲的小公鸡</string>
	<string>骑木马</string>
	<string>骑梅花鹿</string>
	<string>骑蜻蜓的小人儿</string>
	<string>骆驼</string>
	<string>骆驼志气大</string>
	<string>骑大马</string>
	<string>骑马舞</string>
	<string>骑马过桥</string>
	<string>观书有感</string>
	<string>观书有感 春日</string>
	<string>解放区的天</string>
	<string>角对角</string>
	<string>观刈麦</string>
	<string>懒娃娃</string>
	<string>懒小猪</string>
	<string>懒汉种西瓜</string>
	<string>懒惰的玛丽</string>
	<string>懒惰虫</string>
	<string>懒惰猫</string>
	<string>自由飞翔</string>
	<string>自己去吧</string>
	<string>自己跌倒自己爬</string>
	<string>致那些让我快乐的朋友</string>
	<string>自作聪明的小驴</string>
	<string>自作聪明的小毛驴</string>
	<string>臭蚊子嗡嗡嗡</string>
	<string>自我保护问答歌</string>
	<string>萌宝大跳江南style</string>
	<string>落大雨</string>
	<string>落雨大</string>
	<string>营养食谱</string>
	<string>萤火虫</string>
	<string>萤火虫＋懒惰猫＋好宝宝</string>
	<string>萤火虫夜夜红</string>
	<string>萤火虫小夜曲</string>
	<string>布娃娃</string>
	<string>布娃娃弹琴</string>
	<string>布奇乐乐园</string>
	<string>希望寄托在你们身上</string>
	<string>希望风帆</string>
	<string>布谷鸟</string>
	<string>布谷鸟报春</string>
	<string>布谷鸟闹钟</string>
	<string>帆船</string>
	<string>布朗族</string>
	<string>布朗族欢唱</string>
	<string>布拉加天使小夜曲</string>
	<string>布拉姆斯摇篮曲</string>
	<string>布拉姆斯小夜曲</string>
	<string>布依春早</string>
	<string>植树歌</string>
	<string>椿树芽拌豆腐</string>
	<string>椅子游戏</string>
	<string>琵琶送我一枝玫瑰花</string>
	<string>理发师</string>
	<string>球球模仿秀</string>
	<string>琢磨鸟</string>
	<string>城门几丈高</string>
	<string>城门城门鸡蛋糕</string>
	<string>城里老鼠和乡下老鼠</string>
	<string>城市少女</string>
	<string>英文数字歌</string>
	<string>英文儿歌</string>
	<string>英文儿歌-斑马线</string>
	<string>英文字母歌</string>
	<string>英文字母歌x</string>
	<string>英语26个字母</string>
	<string>英语数字歌</string>
	<string>英语儿歌大全</string>
	<string>英语游戏</string>
	<string>英语字母歌</string>
	<string>英雄赞歌</string>
	<string>英雄小哪吒</string>
	<string>英雄少年</string>
	<string>英雄儿女</string>
	<string>苏珊娜</string>
	<string>苹果与蝴蝶</string>
	<string>苹果树</string>
	<string>苗山娃,苗山花</string>
	<string>苗山娃苗山花</string>
	<string>苗岭飞歌</string>
	<string>苗岭春来早</string>
	<string>苗家娃</string>
	<string>苗家小姑娘过山来</string>
	<string>苗家小阿妹</string>
	<string>苗家儿童庆丰收</string>
	<string>苏武牧羊</string>
	<string>苏联少先队队歌</string>
	<string>水之歌</string>
	<string>水仙花圆舞曲</string>
	<string>水仙花儿开</string>
	<string>水中游</string>
	<string>水乡外婆桥</string>
	<string>水乡瑶</string>
	<string>水乡谣</string>
	<string>水上芭蕾</string>
	<string>水上碰碰船</string>
	<string>水和妈妈</string>
	<string>水姑娘</string>
	<string>水晶球</string>
	<string>水晶鞋</string>
	<string>水母鸡</string>
	<string>水浒欢迎你</string>
	<string>水果</string>
	<string>水果食物名称</string>
	<string>水果_贝瓦儿歌英语系列</string>
	<string>水果歌</string>
	<string>水果歌谣</string>
	<string>水果吃不完</string>
	<string>水珠与大海</string>
	<string>水瓶里的鱼</string>
	<string>水粉画</string>
	<string>水牛儿</string>
	<string>水龙头</string>
	<string>水龙头不哭了</string>
	<string>水里小鱼游游游</string>
	<string>水花花泥花花</string>
	<string>水花花 泥花花</string>
	<string>水调歌头</string>
	<string>水调歌头·明月几时有</string>
	<string>水调歌头《明月几时有》</string>
	<string>水调歌头 明月几时有</string>
	<string>永夜幻想曲</string>
	<string>永不放弃</string>
	<string>永不分开世界的爱</string>
	<string>永远的宝贝</string>
	<string>永远的承诺</string>
	<string>永远的映山红</string>
	<string>永远的爱</string>
	<string>永远住在童话里</string>
	<string>永远在一起</string>
	<string>永远驻在童话里</string>
	<string>永远相伴</string>
	<string>永远是个小娃娃</string>
	<string>永远是个好娃娃</string>
	<string>氹氹转</string>
	<string>气都少年</string>
	<string>氢气球</string>
	<string>泥娃娃</string>
	<string>泥娃娃和乖孩子</string>
	<string>泼水节</string>
	<string>泼水歌</string>
	<string>泼水歌＋老乌鸦＋跳绳歌</string>
	<string>波比换牙</string>
	<string>泊船瓜洲</string>
	<string>波斯猫</string>
	<string>法国小男孩和小女孩对唱的天籁之音 </string>
	<string>法国号</string>
	<string>泡泡爱唱歌</string>
	<string>泡泡不见了</string>
	<string>泊秦淮</string>
	<string>泉城民谣</string>
	<string>泥塑人家</string>
	<string>始得西山宴游记</string>
	<string>姥姥讲故事-爱心树</string>
	<string>姥姥门前看大戏</string>
	<string>姑娘等我回家乡</string>
	<string>豆子袋</string>
	<string>豌豆上的公主</string>
	<string>豌豆花</string>
	<string>豆芽梦</string>
	<string>保卫黄河</string>
	<string>保护小羊</string>
	<string>保护地球妈妈</string>
	<string>蟋蟀合唱</string>
	<string>轰隆隆</string>
	<string>轮滑小将</string>
	<string>轻轻的告诉你</string>
	<string>轻轻地告诉你</string>
	<string>转一圈摸摸地</string>
	<string>粗心的小画家</string>
	<string>粗心小画家</string>
	<string>精灵世纪</string>
	<string>精卫填海</string>
	<string>精舞门</string>
	<string>粉红色的我</string>
	<string>粉可爱</string>
	<string>粉刷</string>
	<string>粉刷匠</string>
	<string>粉刷匠之二</string>
	<string>粉嘟嘟</string>
	<string>庆圣诞 迎元旦</string>
	<string>床前明月光</string>
	<string>庆祝六一</string>
	<string>库尔班大叔喜洋洋</string>
	<string>彩云追月</string>
	<string>影子殿下</string>
	<string>影子歌</string>
	<string>彩色世界真美丽</string>
	<string>彩色世界真奇妙</string>
	<string>彩色水笔画</string>
	<string>彩色笔</string>
	<string>彩色的世界真奇妙</string>
	<string>当我们在一起</string>
	<string>当我们同在一起</string>
	<string>彝家今天客人来</string>
	<string>彝家娃娃真幸福</string>
	<string>当爸爸妈妈都老的时候</string>
	<string>彩桥架到台湾岛</string>
	<string>彩排</string>
	<string>当你孤单你会想起谁</string>
	<string>归园田居</string>
	<string>当兵的爸爸</string>
	<string>当当当</string>
	<string>当当歌</string>
	<string>归来的燕子</string>
	<string>当音乐家去</string>
	<string>当阳光照耀的草地上</string>
	<string>当红军</string>
	<string>彩虹下的约定</string>
	<string>彩虹糖的梦</string>
	<string>彩虹的微笑</string>
	<string>彩虹的约定</string>
	<string>彩虹驾到台湾岛</string>
	<string>彩虹少年</string>
	<string>彩虹妹妹</string>
	<string>彩虹谣</string>
	<string>彩虹桥</string>
	<string>彩虹滑梯</string>
	<string>彭野新儿歌</string>
	<string>形状王国</string>
	<string>形状玩游戏</string>
	<string>形状歌</string>
	<string>形状歌shapes</string>
	<string>形状变变变</string>
	<string>干脆我就不长大</string>
	<string>平安夜</string>
	<string>平安回家</string>
	<string>平遥故事</string>
	<string>年三十</string>
	<string>年少的味道</string>
	<string>年年有个三月三</string>
	<string>年年吉祥保平安</string>
	<string>年轻人的心声</string>
	<string>幸福的大桌子</string>
	<string>幸福的小苗苗</string>
	<string>幸福的一家</string>
	<string>幸福的一家人</string>
	<string>幸福的方向</string>
	<string>幸福的花</string>
	<string>幸福的花朵</string>
	<string>幸福的冒泡</string>
	<string>幸福的脸</string>
	<string>幸福的猪小弟</string>
	<string>幸福的孩子爱唱歌</string>
	<string>幸福大魔咒</string>
	<string>幸福家园</string>
	<string>幸福小苗苗</string>
	<string>幸福像花儿一样</string>
	<string>幸福像金达莱一样</string>
	<string>幸福在哪里</string>
	<string>幸福拍手</string>
	<string>幸福拍手歌</string>
	<string>幸福时刻</string>
	<string>幸福是什么</string>
	<string>幸福格桑花</string>
	<string>幸福一家</string>
	<string>幸福一家人</string>
	<string>幸福你就拍拍手</string>
	<string>【polestar】卡洛儿 奇异恩典</string>
	<string>忍者神龟主题曲</string>
	<string>快节奏</string>
	<string>快来吧 亲爱的</string>
	<string>忘不了你呀妈妈</string>
	<string>快活的下雨天</string>
	<string>牧场上的家</string>
	<string>牧童之歌</string>
	<string>牧笛声声</string>
	<string>牧羊童</string>
	<string>牧羊女</string>
	<string>牧羊曲</string>
	<string>牧童哪里去了</string>
	<string>牧童短笛</string>
	<string>牧马之歌</string>
	<string>牙齿刷刷刷</string>
	<string>牵牛花</string>
	<string>牵着梦想的手</string>
	<string>牛背上的孩子</string>
	<string>牛角弯弯</string>
	<string>牡丹之歌</string>
	<string>牡丹仙子的传说</string>
	<string>牛栏里的鹿</string>
	<string>牙儿乐乐</string>
	<string>牛仔约德尔</string>
	<string>牛仔很忙</string>
	<string>牛牛好</string>
	<string>牛牛好儿歌 </string>
	<string>牛奶歌</string>
	<string>牛儿呵莽着</string>
	<string>白杨树</string>
	<string>白杨和小河</string>
	<string>白洋淀可爱的家乡</string>
	<string>白桦林好地方</string>
	<string>登上天安门</string>
	<string>登乐游原</string>
	<string>登鹤雀楼</string>
	<string>登鹳雀楼</string>
	<string>登飞来峰</string>
	<string>白帽子</string>
	<string>白帽子之歌</string>
	<string>白兰花</string>
	<string>白兰鸽</string>
	<string>白鹅学唱歌</string>
	<string>月半小夜曲</string>
	<string>月季花</string>
	<string>月儿弯弯</string>
	<string>月儿弯弯像小船</string>
	<string>月儿弯弯象小船</string>
	<string>月姑姑</string>
	<string>月光童话</string>
	<string>月光女孩</string>
	<string>月光奏鸣曲 moonlight sonata</string>
	<string>月光光</string>
	<string>月光光照地堂</string>
	<string>木偶之歌</string>
	<string>木偶的步态舞</string>
	<string>木偶兵进行曲</string>
	<string>木偶娃娃</string>
	<string>木偶奇遇记</string>
	<string>机器猫</string>
	<string>机器猫主题曲</string>
	<string>机智的小山羊</string>
	<string>朝花夕拾</string>
	<string>最爱小伙伴</string>
	<string>最爱你哭泣时候的眼睛</string>
	<string>望洞庭</string>
	<string>望梅止渴</string>
	<string>最好的未来</string>
	<string>月之故乡</string>
	<string>月亮之上</string>
	<string>月亮对你笑</string>
	<string>月亮出来了</string>
	<string>月亮怎么不见了</string>
	<string>月亮婆婆</string>
	<string>月亮婆婆出来了</string>
	<string>月亮婆婆喜欢我</string>
	<string>月亮婆婆生日到</string>
	<string>月亮船</string>
	<string>月亮河边的孩子</string>
	<string>月亮月光光</string>
	<string>月亮弯又弯</string>
	<string>月亮姑娘做衣裳</string>
	<string>月亮粑粑</string>
	<string>月亮花</string>
	<string>月亮花儿开</string>
	<string>月亮勾勾</string>
	<string>月亮耙耙</string>
	<string>月亮谣</string>
	<string>月亮谜语歌</string>
	<string>月亮谜语谣</string>
	<string>最炫民族风</string>
	<string>最炫民族风（生日版）</string>
	<string>有礼貌</string>
	<string>有礼貌的妮妮</string>
	<string>有爱就有天堂</string>
	<string>朋友，你好</string>
	<string>朋友别哭</string>
	<string>朋友问候歌</string>
	<string>朋友越多越快乐</string>
	<string>最幸福的孩子</string>
	<string>服装鞋帽名称</string>
	<string>有时候我们不想长大</string>
	<string>有时落在山腰</string>
	<string>最初的梦想</string>
	<string>望牛山歌</string>
	<string>望天门山</string>
	<string>望庐山瀑布</string>
	<string>有只雀仔跌落水</string>
	<string>有志者事竟成</string>
	<string>最美的图画</string>
	<string>最美的画</string>
	<string>最美的歌</string>
	<string>最美丽</string>
	<string>最美丽的母亲</string>
	<string>木瓜恰恰恰</string>
	<string>最难使人相信的事情</string>
	<string>最后的歌</string>
	<string>月芽船</string>
	<string>未完成交响乐</string>
	<string>月满西楼</string>
	<string>月朦胧 鸟朦胧</string>
	<string>月月花</string>
	<string>有趣的鼻子</string>
	<string>有趣的声音</string>
	<string>有趣的不倒翁</string>
	<string>有趣的盒子</string>
	<string>飞翔的小白帆</string>
	<string>飞翔的蒲公英</string>
	<string>飞翔飞翔我飞翔</string>
	<string>飞翔吧和平鸽</string>
	<string>飞起来</string>
	<string>飞行船</string>
	<string>飞上天的鱼</string>
	<string>风铃草</string>
	<string>风雨中的花蕾</string>
	<string>风雨斜阳</string>
	<string>飞向太阳</string>
	<string>飞向北京</string>
	<string>飞得更高</string>
	<string>飞吧小鸟</string>
	<string>飞呀飞</string>
	<string>风筝花</string>
	<string>风的呢喃</string>
	<string>风之色彩</string>
	<string>风中有朵雨做的云</string>
	<string>飞雪花</string>
	<string>飘飘乐逍遥</string>
	<string>风婆婆</string>
	<string>风婆婆和小树叶</string>
	<string>风娘娘</string>
	<string>风儿找妈妈</string>
	<string>风儿踢踏踩</string>
	<string>风儿吹向那边</string>
	<string>风来了</string>
	<string>风车 </string>
	<string>风车岛</string>
	<string>开起我的小汽车</string>
	<string>开汽车</string>
	<string>弹钢琴</string>
	<string>弹钢琴  我愿意  </string>
	<string>弹起心爱的冬不拉</string>
	<string>弹起我心爱的土琵琶</string>
	<string>开小船</string>
	<string>张三的歌</string>
	<string>开心常欢笑</string>
	<string>开心幸福年</string>
	<string>开心爷爷</string>
	<string>开心超人主题曲-开心往前飞</string>
	<string>弯弯的月亮</string>
	<string>弯弯谣</string>
	<string>异口童声</string>
	<string>开学了</string>
	<string>开学第一课</string>
	<string>异想天开</string>
	<string>弟子规</string>
	<string>弟弟摔倒我扶起</string>
	<string>弟弟小妹妹跑开点</string>
	<string>弟弟不听话</string>
	<string>开火车</string>
	<string>开火车嘟嘟</string>
	<string>点亮世界</string>
	<string>点人数</string>
	<string>点点头 拍拍手</string>
	<string>点虫虫</string>
	<string>点样叫</string>
	<string>炒萝卜</string>
	<string>炫海娃</string>
	<string>炫酷男孩</string>
	<string>米奇妙妙屋</string>
	<string>米奇妙妙屋篇</string>
	<string>米兰的小铁匠 </string>
	<string>米老鼠之歌</string>
	<string>米老鼠进行曲</string>
	<string>放烟火</string>
	<string>放牛娃</string>
	<string>放牛娃娃爱唱歌</string>
	<string>放牛歌</string>
	<string>放羊的孩子</string>
	<string>放心去飞</string>
	<string>放学回家的路上</string>
	<string>放学歌</string>
	<string>放在心里面</string>
	<string>放假了</string>
	<string>放学路上</string>
	<string>放学后</string>
	<string>放学吹起笛哩噜</string>
	<string>放花炮</string>
	<string>放马山歌</string>
	<string>放飞童心畅想未来</string>
	<string>放鸭子</string>
	<string>放飞自我</string>
	<string>放飞少年</string>
	<string>放风筝</string>
	<string>放风筝的</string>
	<string>放风筝的孩子</string>
	<string>放飞梦想</string>
	<string>真挚的祝福</string>
	<string>真正的新娘</string>
	<string>眼球操</string>
	<string>眼睛和耳朵</string>
	<string>眼保健操</string>
	<string>看谁懂礼貌</string>
	<string>看谁学得像</string>
	<string>看花灯</string>
	<string>看训兽</string>
	<string>看训兽儿歌</string>
	<string>看大戏</string>
	<string>看庄稼</string>
	<string>眉毛，动一动</string>
	<string>真热闹＋吗哈哈小羊＋握紧拳头</string>
	<string>看看山区新变化</string>
	<string>看电视</string>
	<string>看驯兽</string>
	<string>看金鱼</string>
	<string>看月亮</string>
	<string>看星星之歌</string>
	<string>看书歌</string>
	<string>真善美</string>
	<string>真善美的小世界</string>
	<string>真善美丽小世界</string>
	<string>贪玩的我</string>
	<string>贝壳之歌</string>
	<string>贺新年</string>
	<string>贺新年迎财神</string>
	<string>贺新春</string>
	<string>贺绿汀《摇篮曲》</string>
	<string>贝瓦健康操</string>
	<string>财源广进运气好</string>
	<string>财神老爷下凡了</string>
	<string>财神到</string>
	<string>财神来到我家门</string>
	<string>贪吃的小猪</string>
	<string>莴苣姑娘</string>
	<string>莫生气</string>
	<string>莹火虫找朋友</string>
	<string>莫扎特摇篮曲</string>
	<string>莫扎特的摇篮曲</string>
	<string>莫扎特小夜曲</string>
	<string>莫斯科郊外的晚上</string>
	<string>莎啦啦</string>
	<string>顶水小姑娘</string>
	<string>顽皮熊</string>
	<string>顽皮的小杜鹃</string>
	<string>顽皮的小猫咪</string>
	<string>顽皮的杜鹃</string>
	<string>树上叫声高</string>
	<string>树上的鸟儿成双对</string>
	<string>树林里</string>
	<string>格桑梅朵</string>
	<string>格桑花</string>
	<string>格桑花开</string>
	<string>格桑卓玛</string>
	<string>树苗苗</string>
	<string>校园多美好</string>
	<string>校园的小路</string>
	<string>校园的早晨</string>
	<string>校园中的喜悦</string>
	<string>校园民谣</string>
	<string>校园里的小白杨</string>
	<string>树妈妈妈和树叶娃娃</string>
	<string>树叶娃娃</string>
	<string>树叶船</string>
	<string>树叶飘</string>
	<string>树叶飘飘</string>
	<string>茶山谣</string>
	<string>茶壶精灵</string>
	<string>茶壶歌</string>
	<string>茶叶青</string>
	<string>茨藜花</string>
	<string>茉送给妈妈的莉花</string>
	<string>茅屋为秋风所破歌</string>
	<string>茉莉花</string>
	<string>茉莉公主，睡美人，灰姑娘，白雪公主</string>
	<string>惠崇春江晓景</string>
	<string>想你的365天</string>
	<string>想亲亲</string>
	<string>想大声说爱你</string>
	<string>想妈妈</string>
	<string>想变成一棵树</string>
	<string>想和你再次在一起</string>
	<string>想让太阳停留在天空</string>
	<string>情非得已</string>
	<string>那只小狗多少钱</string>
	<string>邻家小女孩</string>
	<string>那一天</string>
	<string>那个夏天的海</string>
	<string>邮递员叔叔好</string>
	<string>邮递马车</string>
	<string>那年夏天</string>
	<string>那年夏天的海</string>
	<string>邯郸学步</string>
	<string>邋遢大王</string>
	<string>邋遢大王历险记</string>
	<string>远方的客人请你留下来</string>
	<string>迪士尼动画配乐串烧</string>
	<string>进行时</string>
	<string>迷路了</string>
	<string>迷路的小花猫</string>
	<string>迷路的小花鸭</string>
	<string>迷你迷你</string>
	<string>迷人的火塘</string>
	<string>追梦</string>
	<string>追梦的宝贝</string>
	<string>过马路</string>
	<string>过马路歌</string>
	<string>过零丁洋</string>
	<string>追忆少年</string>
	<string>追风少年</string>
	<string>追云朵</string>
	<string>过大桥</string>
	<string>过山车</string>
	<string>过家家</string>
	<string>过家家做饭饭</string>
	<string>过年了</string>
	<string>过年歌</string>
	<string>过年啦</string>
	<string>还是好朋友</string>
	<string>这是娃娃小手</string>
	<string>这是小兵</string>
	<string>这是一个小小世界</string>
	<string>这是一个小世界</string>
	<string>这是什么</string>
	<string>这是什么虫鸣？</string>
	<string>迪迦奥特曼主题曲</string>
	<string>过新年</string>
	<string>过新年最高兴</string>
	<string>过新年真热闹</string>
	<string>运动歌</string>
	<string>过了腊八就是年</string>
	<string>过生日</string>
	<string>过端午</string>
	<string>这片胡杨</string>
	<string>迎春花</string>
	<string>迎春花幸福年</string>
	<string>迎春花儿香</string>
	<string>迎春接福</string>
	<string>迎来春色换人间</string>
	<string>迎接奥运忙</string>
	<string>迎接美好时光</string>
	<string>拍妈妈的肚皮</string>
	<string>拉住妈妈的手</string>
	<string>拍拍小手</string>
	<string>拍拍手</string>
	<string>拍拍手，我们都是好朋友</string>
	<string>拍拍手碰碰脚</string>
	<string>拍拍手点点头</string>
	<string>拍手唱歌笑呵呵</string>
	<string>拍手点头</string>
	<string>拍手歌</string>
	<string>拍手游戏</string>
	<string>拍手读唐诗</string>
	<string>招财进宝</string>
	<string>拓朴小木马</string>
	<string>拜访春天</string>
	<string>拆拆拆</string>
	<string>拼图游戏</string>
	<string>拾稻穗的小姑娘</string>
	<string>拾贝壳</string>
	<string>拾豆豆</string>
	<string>拔河歌</string>
	<string>拔河比赛</string>
	<string>拉着手回家</string>
	<string>拉着手儿回家</string>
	<string>拔萝卜</string>
	<string>拔萝卜儿歌</string>
	<string>拔苗助长</string>
	<string>拇指姑娘</string>
	<string>拍皮球</string>
	<string>拉提那地幻想曲</string>
	<string>拉洋车</string>
	<string>拉拉勾</string>
	<string>拉拉勾好朋友</string>
	<string>拉大锯</string>
	<string>拉大锯，扯大锯</string>
	<string>拉大锯,扯大锯</string>
	<string>拉大锯扯大锯</string>
	<string>拉勾勾</string>
	<string>拉德斯基进行曲</string>
	<string>拉库卡拉查</string>
	<string>拥军花鼓</string>
	<string>拜大年</string>
	<string>拜年歌</string>
	<string>拨浪鼓</string>
	<string>拉起手</string>
	<string>拉起我的手</string>
	<string>排排坐</string>
	<string>排排坐分果果</string>
	<string>排排坐吃果果</string>
	<string>排排座</string>
	<string>排队歌</string>
	<string>果汁分你一半</string>
	<string>果酱小房子</string>
	<string>枫桥夜泊</string>
	<string>林则徐禁鸦片</string>
	<string>果宝特攻</string>
	<string>林中的小木屋</string>
	<string>蚱蜢娶亲</string>
	<string>蚱蜢的游行</string>
	<string>蚕宝宝</string>
	<string>蚕姑娘</string>
	<string>蚊子怎样叮人吸盘</string>
	<string>蚊子当医生</string>
	<string>蚂蚁搬米</string>
	<string>蚂蚁搬豆</string>
	<string>蚂蚁搬虫虫</string>
	<string>蚂蚁搬家</string>
	<string>蚂蚁王</string>
	<string>蚂蚁飞上天</string>
	<string>蚂蚁蚂蚁</string>
	<string>蚂蚁掉进河里边</string>
	<string>鹿中的王子</string>
	<string>鹅之歌</string>
	<string>鹬蚌相争</string>
	<string>鹦鹉学说话</string>
	<string>鹅鹅鹅</string>
	<string>鹅大哥</string>
	<string>伯乐识马</string>
	<string>伊比亚亚</string>
	<string>伴随着你</string>
	<string>众手浇开幸福花</string>
	<string>伤心宝贝</string>
	<string>传真机</string>
	<string>伯根王</string>
	<string>伦敦大桥</string>
	<string>伦敦大桥垮下来</string>
	<string>伦敦大桥跨下来</string>
	<string>伦敦桥</string>
	<string>伦敦铁桥垮下来</string>
	<string>会唱歌的金葫芦</string>
	<string>会叫的鞋子</string>
	<string>会爬的蜗牛</string>
	<string>会讲故事的娃娃</string>
	<string>会飞的雪娃娃</string>
	<string>摸耳朵</string>
	<string>岳阳楼记</string>
	<string>岁月如流</string>
	<string>岭南少年</string>
	<string>翱翔的小鸟</string>
	<string>翘翘板</string>
	<string>《鹅 鹅 鹅》《春晓》《静夜思》</string>
	<string>《高山青》《何日君再来》</string>
	<string>《静夜思》《你在哪》</string>
	<string>《金蛇狂舞》《龙的传人》</string>
	<string>《欢乐颂》《胜利节》《斯拉夫送行曲》</string>
	<string>《校园的早晨》《红星歌》</string>
	<string>《浪淘沙》刘禹锡(唐）</string>
	<string>《海绵宝宝》主题曲</string>
	<string>《我相信》《海阔天空》</string>
	<string>《我们有武功》</string>
	<string>《我给你拜年》《团圆饭》</string>
	<string>《文明5：美丽新世界》文化与旅游</string>
	<string>《新版小红帽》和《三只小猪》</string>
	<string>《读唐诗》儿童歌曲大奖赛</string>
	<string>《两只小青蛙》和《黑猫警长》</string>
	<string>《中国好色彩》色彩静物单体讲解--小香瓜</string>
	<string>《七音符》《哆来咪发唆》</string>
	<string>《小小飞虎队》片尾曲</string>
	<string>《小白兔》 《老狼几点钟》 《小手动一动》</string>
	<string>《喜羊羊与灰太狼之飞马奇遇记》片头曲MV</string>
	<string>《生命》</string>
	<string>《竹枝词》刘禹锡</string>
	<string>《玫瑰玫瑰我爱你》and《情非得已》</string>
	<string>《灰太狼与喜羊羊2-虎虎生威》主题曲</string>
	<string>橱窗里的洋娃娃</string>
	<string>橡皮泥</string>
	<string>橄榄树</string>
	<string>画太阳</string>
	<string>画时间</string>
	<string>画眉嘴国王</string>
	<string>画画歌</string>
	<string>画公仔</string>
	<string>画猴子</string>
	<string>画蛇添足</string>
	<string>画老虎</string>
	<string>痴人说梦</string>
	<string>紧张的笑</string>
	<string>紫颖之一枝竹仔</string>
	<string>紫葡萄</string>
	<string>紫竹调</string>
	<string>索道缆车</string>
	<string>紫薯</string>
	<string>紫荆花回家了</string>
	<string>地下铁道</string>
	<string>在雨中</string>
	<string>地球乡音</string>
	<string>地球欢迎你</string>
	<string>地球妈妈</string>
	<string>地球村</string>
	<string>地球家园</string>
	<string>在北京的金山上</string>
	<string>圆圆的心愿</string>
	<string>圆圆的月亮</string>
	<string>圆形简笔画之小猫</string>
	<string>圆又圆</string>
	<string>在森林和原野</string>
	<string>在很久以前的下午</string>
	<string>在爱里成长</string>
	<string>在爱里成长mtv</string>
	<string>土拨鼠</string>
	<string>土楼喜事</string>
	<string>圣母颂</string>
	<string>圣母颂 ave maria</string>
	<string>在一起</string>
	<string>圣斗士星矢主题曲</string>
	<string>在遥远树林里</string>
	<string>在遥远的树林里</string>
	<string>在遥远的海极</string>
	<string>在茉莉花盛开的地方</string>
	<string>在想你的三百六十五天</string>
	<string>在那东山顶上</string>
	<string>在那银色的月光下</string>
	<string>在这个时刻</string>
	<string>在希望的田野上</string>
	<string>在妈妈的怀抱</string>
	<string>在公园里</string>
	<string>土耳其进行曲</string>
	<string>在祖国的怀抱里</string>
	<string>在祖国妈妈的怀抱里</string>
	<string>圣诞节快乐</string>
	<string>圣诞节真快乐</string>
	<string>圣诞老人</string>
	<string>圣诞老人＋伊比亚亚＋小皮球</string>
	<string>圣诞老人进城来</string>
	<string>圣诞老人来了</string>
	<string>圣诞老公公</string>
	<string>圣诞快乐</string>
	<string>圣诞快乐，劳伦斯先生 colours</string>
	<string>圣诞儿歌超q童声</string>
	<string>圣诞音乐会</string>
	<string>圣诞铃声</string>
	<string>圣诞歌</string>
	<string>圣诞树</string>
	<string>圣诞恋歌</string>
	<string>土风舞</string>
	<string>在哪里</string>
	<string>在家不当小皇帝</string>
	<string>土地还家</string>
	<string>土家儿童迎客歌</string>
	<string>土娃子</string>
	<string>在灿烂的阳光下</string>
	<string>马大嫂</string>
	<string>驼羔之歌</string>
	<string>马缨花开</string>
	<string>马布之歌</string>
	<string>马车夫之恋</string>
	<string>马兰姑娘</string>
	<string>马兰谣</string>
	<string>马兰花</string>
	<string>马路上的车</string>
	<string>杰克有个包</string>
	<string>来了一群小鸭子</string>
	<string>杜鹃花</string>
	<string>杜鹃圆舞曲</string>
	<string>松柏长青</string>
	<string>松饼小人儿歌</string>
	<string>松鼠尾巴为什么那么大</string>
	<string>松鼠和小鸟</string>
	<string>板凳歪歪</string>
	<string>板凳和扁担</string>
	<string>板凳绑扁担</string>
	<string>杜牧-题乌江亭</string>
	<string>杜牧-泊秦淮</string>
	<string>杨柳枝词九首</string>
	<string>杨柳青放风筝</string>
	<string>来自星星的梦想</string>
	<string>来到窗前</string>
	<string>来如蜜糖去如黄莲</string>
	<string>来来来</string>
	<string>来升旗</string>
	<string>李白很忙</string>
	<string>李伯伯要当红军</string>
	<string>来跳舞</string>
	<string>李小多 分果果</string>
	<string>李小多分果果</string>
	<string>杂技娃</string>
	<string>村夜</string>
	<string>歌唱二小放牛娃</string>
	<string>歌唱二小放牛郎</string>
	<string>歌唱祖国</string>
	<string>歌声中的童年</string>
	<string>歌声与微笑</string>
	<string>歌声飞扬</string>
	<string>歌儿比星星多</string>
	<string>死性不改</string>
	<string>歌舞庆新年</string>
	<string>正月初一过新年</string>
	<string>正月十五月儿明</string>
	<string>正月十五闹元宵</string>
	<string>武术操中国功夫</string>
	<string>正月正挂红灯</string>
	<string>正月歌</string>
	<string>歌曲大全</string>
	<string>电动王</string>
	<string>电风扇</string>
	<string>电冰箱</string>
	<string>电话铃铃铃</string>
	<string>电话里的妈妈</string>
	<string>电子琴入门教程3认识五线谱</string>
	<string>蓝靛厂</string>
	<string>蓝天白云跟我来</string>
	<string>蓝天宝贝</string>
	<string>蓝蝴蝶</string>
	<string>蓝蓝天空</string>
	<string>蓝蓝天青青草</string>
	<string>蓝蓝的天空</string>
	<string>蓝蓝的天上有条河</string>
	<string>蓝色的雅特朗</string>
	<string>蓝色的多瑙河</string>
	<string>蓝精灵</string>
	<string>蓝精灵之歌</string>
	<string>蓝精灵主题曲</string>
	<string>蓝精灵蓝月亮</string>
	<string>蓝短裤</string>
	<string>蓝猫龙骑团</string>
	<string>蓝猫龙骑团主题曲</string>
	<string>蓝猫学数学</string>
	<string>蓝皮鼠和大脸猫</string>
	<string>蓬蓬头</string>
	<string>塞维利亚理发师序曲</string>
	<string>塞下曲</string>
	<string>盖房子</string>
	<string>盖新房</string>
	<string>盖新房 </string>
	<string>相亲相爱</string>
	<string>相亲相爱幸福快乐的一家人</string>
	<string>相信爱</string>
	<string>相信自己</string>
	<string>相思好比小蚯蚓</string>
	<string>相逢北京</string>
	<string>相聚在阳光下</string>
	<string>盛佰童星</string>
	<string>盛开的马樱花</string>
	<string>龙龙的笑</string>
	<string>龙飞凤舞迎新春</string>
	<string>龙船调</string>
	<string>龙头大队贺新年</string>
	<string>龙太子</string>
	<string>龙灯舞起来</string>
	<string>龙的传人</string>
	<string>龙的孩子</string>
	<string>龟兔赛跑</string>
	<string>揠苗助长</string>
	<string>揭开春姑娘面纱</string>
	<string>插秧曲</string>
	<string>握紧拳头</string>
	<string>握紧拳头打豺狼</string>
	<string>数一数</string>
	<string>数九歌</string>
	<string>数不清</string>
	<string>数小鱼</string>
	<string>数字健康操</string>
	<string>数字健康操 Number Song</string>
	<string>数字健康手指操</string>
	<string>数字捉迷藏</string>
	<string>数字歌</string>
	<string> 数字歌 Numbers 123</string>
	<string>数字从一到十</string>
	<string>数字宝宝排排队</string>
	<string>数字谣</string>
	<string>数学游戏</string>
	<string>数指头</string>
	<string>数数几只腿</string>
	<string>数数几条腿</string>
	<string>数数小鸭子</string>
	<string>数数歌</string>
	<string>数星星</string>
	<string>数手指</string>
	<string>数鸟蛋</string>
	<string>数鸭歌</string>
	<string>数鸭子</string>
	<string>数高楼</string>
	<string>数青蛙</string>
	<string>数码宝贝</string>
	<string>数红包</string>
	<string>数蛤蟆</string>
	<string>敲敲门</string>
	<string>整洁歌</string>
	<string>敕勒歌</string>
	<string>教我唱我就唱</string>
	<string>故乡的云</string>
	<string>故乡恋情</string>
	<string>故事会</string>
	<string>教师颂</string>
	<string>教师节</string>
	<string>敢问路在何方</string>
	<string>教你制作火箭动力纸飞机</string>
	<string>教你学数学</string>
	<string>齐齐望过去</string>
	<string>齐来手牵手</string>
	<string>齐跳跳</string>
	<string>齐天大圣</string>
	<string>齐天大圣主题曲</string>
	<string>摘苹果</string>
	<string>摘星星</string>
	<string>摘星星做眼睛</string>
	<string>摘菜调</string>
	<string>摘草莓</string>
	<string>蒲公英</string>
	<string>蒲公英的翅膀</string>
	<string>蒲公英,别走</string>
	<string>躲猫猫</string>
	<string>身体躲猫猫</string>
	<string>身体妙妙妙</string>
	<string>身体部位名称</string>
	<string>羲之爱鹅</string>
	<string>羞羞羞</string>
	<string>羊羊顶呱呱</string>
	<string>美猴王片头曲</string>
	<string>美丽北京</string>
	<string>美丽的金孔雀</string>
	<string>美丽的金孔雀 </string>
	<string>美丽的金孔雀雀</string>
	<string>美丽的地方</string>
	<string>美丽的天空</string>
	<string>美丽的夏牧场</string>
	<string>美丽的家乡</string>
	<string>美丽的小姑娘</string>
	<string>美丽的太阳花</string>
	<string>美丽的一天</string>
	<string>美丽的侗乡</string>
	<string>美丽的藏红花</string>
	<string>美丽的草原我的家</string>
	<string>美丽的草原我的家2</string>
	<string>美丽的村庄</string>
	<string>美丽的春姑娘</string>
	<string>美丽的梦神</string>
	<string>美丽的翠鸟</string>
	<string>美丽的牵牛花</string>
	<string>美丽小天使</string>
	<string>美丽中国</string>
	<string>美丽新世界</string>
	<string>美丽阳光</string>
	<string>美丽在哪里</string>
	<string>美丽草原我的家</string>
	<string>美人鱼简笔画教程</string>
	<string>美人鱼的话</string>
	<string>群星贺新年</string>
	<string>群猴捞月</string>
	<string>美少女战士</string>
	<string>美得冒泡</string>
	<string>美好的一天</string>
	<string>美好的新年</string>
	<string>美妙的小音符</string>
	<string>印第安小男孩</string>
	<string>即兴幻想曲</string>
	<string>卖汤圆</string>
	<string>卖报歌</string>
	<string>卖松饼的人</string>
	<string>卓玛有福</string>
	<string>卓玛的故乡</string>
	<string>卡加布列岛</string>
	<string>卖馄饨</string>
	<string>千岛渔歌</string>
	<string>南极北极不遥远</string>
	<string>十万个为什么</string>
	<string>十个小朋友</string>
	<string>十个手指头</string>
	<string>十个印第安男孩</string>
	<string>十个印第安小朋友</string>
	<string>十个兵</string>
	<string>十以内的加法</string>
	<string>十七岁的雨季</string>
	<string>十二属相歌</string>
	<string>十二生肖体操</string>
	<string>十二生肖操</string>
	<string>十二生肖歌</string>
	<string>十二个月名称</string>
	<string>十二月花</string>
	<string>十二点的天空飘着雨</string>
	<string>十五的月亮</string>
	<string>十五的月亮圆又圆</string>
	<string>十六岁的天空</string>
	<string>十分钟</string>
	<string>十八弯水路到我家</string>
	<string>卖火柴的小女孩</string>
	<string>卖火柴的小女孩故事</string>
	<string>升国旗</string>
	<string>南南有个蓝蓝</string>
	<string>南南有个篮篮</string>
	<string>南屏晚钟</string>
	<string>千万朵金达莱花</string>
	<string>单眼皮的小姑娘</string>
	<string>单眼皮女生</string>
	<string>卡通歌</string>
	<string>卡通卡通</string>
	<string>单韵母六兄弟</string>
	<string>卢沟谣</string>
	<string>半个月亮爬上来</string>
	<string>单个水粉静物2 (红黄蓝)</string>
	<string>千红万红满堂红</string>
	<string>半城烟</string>
	<string>十盏灯</string>
	<string>卡卡出发了</string>
	<string>华主席登上天安门</string>
	<string>卡农</string>
	<string>卡农d大调</string>
	<string>南瓜爷爷找邻居</string>
	<string>卡门幻想曲</string>
	<string>十送红军</string>
	<string>博物馆</string>
	<string>华南之约</string>
	<string>卖切糕</string>
	<string>卡哇伊</string>
	<string>卖萝卜</string>
	<string>卖菜歌</string>
	<string>卖花姑娘</string>
	<string>卖萌飞猴与可爱瓷娃娃</string>
	<string>瑶鼓谣</string>
	<string>瑶族舞曲</string>
	<string>瑶族长鼓舞</string>
	<string>瑶山乐</string>
	<string>瑶山夜歌</string>
	<string>瑶山木叶歌</string>
	<string>瑞雪兆丰年</string>
	<string>瓷娃娃</string>
	<string>瓜儿谣</string>
	<string>都有一颗红亮的心</string>
	<string>都夸白兔有礼貌</string>
	<string>都睡着了</string>
	<string>郁金香发芽了</string>
	<string>郎放鸭子，姐放鹅</string>
	<string>儿歌五官</string>
	<string>儿歌三百首</string>
	<string>儿歌三字经</string>
	<string>儿歌拍拍手</string>
	<string>儿歌布娃娃</string>
	<string>儿童舞蹈少儿爵士舞</string>
	<string>儿童舞蹈 《甩葱歌</string>
	<string>儿童英语游戏歌</string>
	<string>儿童团放哨歌</string>
	<string>儿童蝴蝶结发夹跳板夹制作教程</string>
	<string>儿童学画画大全-多彩的蝶鱼</string>
	<string>儿童学画画大全-动物园</string>
	<string>儿童学画画大全-小花</string>
	<string>儿童安全乘车</string>
	<string>春雨濛濛地下</string>
	<string>春雨蒙蒙的下</string>
	<string>春雨蒙蒙地下</string>
	<string>春雨春雨沙沙下</string>
	<string>春满校园</string>
	<string>春之声</string>
	<string>春之声圆舞曲</string>
	<string>春之歌</string>
	<string>春江晓景</string>
	<string>映山红</string>
	<string>映山红的歌</string>
	<string> 映山红 好日子</string>
	<string>白鸽</string>
	<string>白鹭飞回红树林</string>
	<string>白鹭鸶</string>
	<string>白龙马</string>
	<string>白雪皇后</string>
	<string>白雪歌送武判官归京</string>
	<string>白雪公主</string>
	<string>白雪公主故事</string>
	<string>白雪公主与七个小矮人</string>
	<string>白雪公主与七矮人</string>
	<string>白雪公主和皇后</string>
	<string>白雪公主和七个小矮人</string>
	<string>白莲花</string>
	<string>白色圣诞</string>
	<string>白胖鸭</string>
	<string>白蛇肉</string>
	<string>白云小船</string>
	<string>白云飘飘</string>
	<string>白狗黑狗</string>
	<string>白白鹅</string>
	<string>百家姓</string>
	<string>百变小魔女</string>
	<string>百变小樱主题曲</string>
	<string>百草园</string>
	<string>百花开</string>
	<string>百鸟会</string>
	<string>饼干乐园</string>
	<string>饼干圆圆</string>
	<string>饼干歌</string>
	<string>饭桌之歌</string>
	<string>胡萝卜</string>
	<string>胡萝卜之歌</string>
	<string>胡萝卜盘子</string>
	<string>胡说歌</string>
	<string>胆小鬼</string>
	<string>背唐诗</string>
	<string>胡桃夹子</string>
	<string>背水姑娘</string>
	<string>胜利时再闻花儿香</string>
	<string>胡同里的北京娃</string>
	<string>胖厨师与小老鼠</string>
	<string>胖嘟嘟</string>
	<string>胎教音乐</string>
	<string>等一分钟</string>
	<string>等你到天明</string>
	<string>筛子筛</string>
	<string>每当走过老师窗前</string>
	<string>每当我走过老师窗前</string>
	<string>每当我走过老师的窗前</string>
	<string>毛毛虫</string>
	<string>毛毛虫的梦想</string>
	<string>毛毛虫好可怕</string>
	<string>毛敖吉坎</string>
	<string>毕业前夕</string>
	<string>毕业歌</string>
	<string>毕业诗</string>
	<string>比赛歌</string>
	<string>母爱无边</string>
	<string>毛主席的光辉</string>
	<string>毛主席的光辉把炉台照亮</string>
	<string>毛主席最亲</string>
	<string>毛笔字</string>
	<string>比利男孩</string>
	<string>比吃饭</string>
	<string>毛驴参加音乐会</string>
	<string>母亲，您真伟大</string>
	<string>母亲无边</string>
	<string>母亲的故事</string>
	<string>母亲你真伟大</string>
	<string>母亲河</string>
	<string>母亲节</string>
	<string>母亲教我的歌</string>
	<string>母亲和孩子</string>
	<string>母亲您真伟大</string>
	<string>母鸡</string>
	<string>母鸡骂小鸡</string>
	<string>母鸡和公鸡</string>
	<string>母鸭带小鸭</string>
	<string>甜嘴巴</string>
	<string>甜嘴巴娃娃</string>
	<string>甜心宝贝</string>
	<string>甜甜的山歌</string>
	<string>甜甜的草原</string>
	<string>甜甜祖国大花园</string>
	<string>甜津津的河水园</string>
	<string>甜蜜糖果屋</string>
	<string>甜蜜的家庭</string>
	<string>甜蜜童话屋</string>
	<string>漂亮的小丑鱼</string>
	<string>漂亮的套娃</string>
	<string>漂亮的姑娘莫生气</string>
	<string>漂亮的蘑菇伞</string>
	<string>漂亮妈妈</string>
	<string>漂亮鞋子</string>
	<string>烧肉粽</string>
	<string>烧饼油条</string>
	<string>烈士墓前</string>
	<string>热烘烘的太阳</string>
	<string>热带鱼</string>
	<string>热带鱼 儿童创意简笔画教学</string>
	<string>热水瓶</string>
	<string>烛光里的妈妈</string>
	<string>热身运动</string>
	<string>烤蛋糕</string>
	<string>烟雨江南</string>
	<string>桃园小姐妹</string>
	<string>桃太郎</string>
	<string>桌子数字</string>
	<string>桂花开放幸福来</string>
	<string>桃花源</string>
	<string>桃花源记</string>
	<string>桃花朵朵开</string>
	<string>桃花谣</string>
	<string>桌上一瓶花</string>
	<string>桃李满园</string>
	<string>桔子歌</string>
	<string>桑巴公主</string>
	<string>桑塔·露琪亚</string>
	<string>溜溜的他</string>
	<string>溜溜球</string>
	<string>溜溜地她</string>
	<string>溜滑梯</string>
	<string>溜冰圆舞曲</string>
	<string>袋鼠护送员</string>
	<string>袋鼠爸爸袋鼠妈妈</string>
	<string>袋鼠妈妈</string>
	<string>袋鼠妈妈有个袋袋</string>
	<string>不再玩泥沙</string>
	<string>不再麻烦好妈妈</string>
	<string>不再麻烦妈妈</string>
	<string>不再犹豫</string>
	<string>不做井底之蛙</string>
	<string>不做小懒猫</string>
	<string>不动脑筋不发言</string>
	<string>不动脑筋别发言</string>
	<string>不奇怪</string>
	<string>不倒翁</string>
	<string>不倒翁＋狼与小孩＋说哈罗</string>
	<string>不字歌</string>
	<string>丰年歌</string>
	<string>丰收之歌</string>
	<string>一人一梦</string>
	<string>一二三</string>
	<string>一二三 木头人</string>
	<string>一二三木头人</string>
	<string>一二三四五</string>
	<string>一二三四五，上山拍老虎</string>
	<string>一二三四五上山打老虎</string>
	<string>一二三四五六七</string>
	<string>一起唱生日歌</string>
	<string>一起去郊游</string>
	<string>一起长大</string>
	<string>一起跳舞</string>
	<string>一起溜滑梯</string>
	<string>一起来唱歌</string>
	<string>一起来跳舞</string>
	<string>一起捡</string>
	<string>三个娃娃种葵花</string>
	<string>三个小猪盖房子</string>
	<string>三个好朋友</string>
	<string>三个月亮</string>
	<string>三个纺线女</string>
	<string>三个和尚</string>
	<string>三个和尚没水喝</string>
	<string> 东施</string>
	<string>东施效颦</string>
	<string>东海小姑娘</string>
	<string>东方小子</string>
	<string>东方红</string>
	<string>不懂装懂</string>
	<string>不潮不用花钱</string>
	<string>不怕不怕</string>
	<string>不想睡</string>
	<string>不想长大</string>
	<string>一天之计在于晨</string>
	<string>个头小</string>
	<string>两头麻雀</string>
	<string>中央c</string>
	<string>世上只有爸爸好</string>
	<string>世上只有妈妈好</string>
	<string>世上爸爸妈妈都最好</string>
	<string>东东是个胆小鬼</string>
	<string>一颗星</string>
	<string>两颗小星星</string>
	<string>一颗心</string>
	<string>上海小吃</string>
	<string>上楼梯</string>
	<string>临沧布朗族打歌</string>
	<string>一周七天星期名称</string>
	<string>一周星期名称</string>
	<string>一加一手指歌</string>
	<string>一对对</string>
	<string>一对小白狗</string>
	<string>一对对(虫儿飞)</string>
	<string>七子之歌</string>
	<string>七彩生活</string>
	<string>七彩世界</string>
	<string>七彩泡泡</string>
	<string>七彩阳光</string>
	<string>七彩光</string>
	<string>七只小乌鸦</string>
	<string>一把小雨伞</string>
	<string>丹顶鹤</string>
	<string>丹尼男孩</string>
	<string>为我喝彩</string>
	<string>为什么</string>
	<string>为什么奶奶要戴眼镜</string>
	<string>为什么会下雨</string>
	<string>为什么不接电话</string>
	<string>为什么鹅要咬人</string>
	<string>为什么恒星会发光</string>
	<string>两只山羊过桥</string>
	<string>两只大象</string>
	<string>一只大黄狗</string>
	<string>一只狼</string>
	<string>一双小小手</string>
	<string>一双小手</string>
	<string>一双小红鞋</string>
	<string>两只小羊要过桥</string>
	<string>一只小白兔</string>
	<string>两只小鸟</string>
	<string>一只小鹿</string>
	<string>两只小黑鸟</string>
	<string>两只小青蛙和黑猫警长</string>
	<string>两只小小鸭</string>
	<string>两只小象</string>
	<string>两只小蜜蜂</string>
	<string>一只小胖猪</string>
	<string>两只小花狗</string>
	<string>一只小老鼠</string>
	<string>一只小老鼠，一只猫和…一个伟大的爸爸 </string>
	<string>一只只小鸟</string>
	<string>两只手</string>
	<string>两只羊</string>
	<string> 一只青蛙跳下水</string>
	<string>两只蝴蝶</string>
	<string>一只鸟仔</string>
	<string>一只鸟仔厝归行</string>
	<string>两只猫</string>
	<string>两只老虎</string>
	<string>一只哈巴狗</string>
	<string>两只燕子在吵架</string>
	<string>两位胖先生</string>
	<string>一剪梅</string>
	<string>丢手绢</string>
	<string>丢手绢儿歌</string>
	<string>世界小小小</string>
	<string>世界真美好</string>
	<string>世界真細小</string>
	<string>世界真细小</string>
	<string>世界真奇妙</string>
	<string>世界真奇妙，18件真实存在着的事情</string>
	<string>万年红</string>
	<string>万兽之王</string>
	<string>上课了</string>
	<string>举杯祝福</string>
	<string>一个人坐托马斯小火车</string>
	<string>一串心</string>
	<string>七个小矮人</string>
	<string>两个小娃娃</string>
	<string>两个小娃娃在打电话</string>
	<string>两个小娃娃呀，正在打电话呀</string>
	<string>两个小娃娃打电话</string>
	<string>两个小娃娃正在打电话</string>
	<string>一个小老鼠</string>
	<string>一个毽儿踢两半</string>
	<string>两个好妈妈</string>
	<string>一个拇指动一动</string>
	<string>一个师傅三个徒弟</string>
	<string>一个师傅三徒弟</string>
	<string>一个师傅仨徒弟</string>
	<string>七个阿姨来摘果</string>
	<string>七个妞妞来摘果</string>
	<string>七个妞妞摘果果</string>
	<string>一个和尚三个徒弟</string>
	<string>一个蝌蚪</string>
	<string>一个蛤蟆四条腿儿</string>
	<string>个个听到狗仔叫</string>
	<string>丢丢铜</string>
	<string>丢丢铜儿</string>
	<string>丫丫种花</string>
	<string>丢三落四的小海豹</string>
	<string>一点点</string>
	<string>一点点喜欢</string>
	<string>三百首</string>
	<string>一米阳光</string>
	<string>上上下下</string>
	<string>一支竹仔</string>
	<string>一支彩色笔</string>
	<string>一支短笛轻轻吹</string>
	<string>一样的</string>
	<string>一样的童谣</string>
	<string>一根手指点点</string>
	<string>一枝竹仔</string>
	<string>一休哥</string>
	<string>一休哥 花仙子</string>
	<string>上山打老虎</string>
	<string>上学好</string>
	<string>上学精神好</string>
	<string>上学歌</string>
	<string>上学路上</string>
	<string>上厕所</string>
	<string>上学去</string>
	<string>东直门挂着匾</string>
	<string>下蛋咯</string>
	<string>下蛋啰</string>
	<string>一粒小麦子</string>
	<string>一粒小种子</string>
	<string>一年级</string>
	<string>一年级的小男生</string>
	<string>一年级小学生</string>
	<string>一年胜一年</string>
	<string>不讲安全的大灰狼 3看不见的魔鬼</string>
	<string>不讲卫生的波波</string>
	<string>不要认为自己没有用</string>
	<string>不说话</string>
	<string>不老的爸爸</string>
	<string>不老的老师</string>
	<string>不让妈妈抱</string>
	<string>不能没有你</string>
	<string>中国</string>
	<string>中国是我家</string>
	<string>中国是我家-10种民族</string>
	<string>中国好</string>
	<string>中国娃娃</string>
	<string>中国好歌曲 果木吉他弹唱教学</string>
	<string>中国少年</string>
	<string>中国少年先锋队队歌</string>
	<string>中国好娃娃</string>
	<string>中国好少年之歌</string>
	<string>中国好色彩</string>
	<string>中国功夫</string>
	<string>中国话</string>
	<string>中国人民解放军进行曲</string>
	<string>中国人民解放军军歌</string>
	<string>中国红</string>
	<string>中国看见</string>
	<string>专属单车</string>
	<string>不知不觉</string>
	<string>不爱洗澡的小羊</string>
	<string>三根羽毛</string>
	<string>三月-云雀之歌</string>
	<string>三月里</string>
	<string>三月里的小雨</string>
	<string>三毛流浪记</string>
	<string>三明治</string>
	<string>三条鱼</string>
	<string>一捧江山在掌握</string>
	<string>一分钱</string>
	<string>一条小巷</string>
	<string>一条小河</string>
	<string>三套车</string>
	<string>三峡人家</string>
	<string>三峡的孩子爱三峡</string>
	<string>三字儿歌</string>
	<string>三字经</string>
	<string>三字经2</string>
	<string>三字经3</string>
	<string>三字经4</string>
	<string>三字经5</string>
	<string>三字经-人之初</string>
	<string>三字经 满江红</string>
	<string>三字经犬守夜</string>
	<string>三字经劲舞版</string>
	<string>三字经儿歌</string>
	<string>三字经武术操</string>
	<string>三十三个月亮</string>
	<string>三只熊</string>
	<string>三只小猪</string>
	<string>三只小猪之聪明的小猪</string>
	<string>三只小猪做家务</string>
	<string>三只小猪盖房子</string>
	<string>三只小猪学英语</string>
	<string>三只小猪学数学</string>
	<string>三只小猴子</string>
	<string>三只小猫</string>
	<string>三只小熊</string>
	<string>三只小羊</string>
	<string>三只小羊丢了手套</string>
	<string>三只小白猪</string>
	<string>三只小鸭</string>
	<string>三只瞎老鼠</string>
	<string>三只猴子</string>
	<string>三只猴子抢床曲</string>
	<string>三只猪气死一只狼</string>
	<string>三只老虎在吵架</string>
	<string>三兄弟</string>
	<string>一直下雨的星期天</string>
	<string>七色光</string>
	<string>七色光之歌</string>
	<string>一群大雁</string>
	<string>一群鸭子下河滩</string>
	<string>中南海颂歌</string>
	<string>一半脸儿</string>
	<string>中华人民共和国国歌</string>
	<string>中华人民共和国国歌义勇军进行曲</string>
	<string>中华小当家主题曲</string>
	<string>中华小儿郎</string>
	<string>中华小子主题曲</string>
	<string>中华民族</string>
	<string>中华民谣</string>
	<string>与众不同的我</string>
	<string>东北风</string>
	<string>东南西北</string>
	<string>东南西北风</string>
	<string>一闪一闪</string>
	<string>一闪一闪亮晶晶</string>
	<string>七步舞</string>
	<string>七步诗</string>
	<string>七星瓢虫</string>
	<string>丁香花</string>
	<string>下雨了</string>
	<string>下雨天</string>
	<string>下雨啦</string>
	<string>下雪了</string>
	<string>下雪啦</string>
	<string>一同去郊游</string>
	<string>世外桃源</string>
	<string>世外 桃源</string>
	<string>一字诗、江南、元日</string>
	<string>中学时代</string>
	<string>一字歌</string>
	<string>下水道里的小老鼠</string>
	<string>下池塘</string>
	<string>下一站天后</string>
	<string>万人迷</string>
	<string>万事如意</string>
	<string>一家人</string>
	<string>一家十个兵</string>
	<string>丑小鸭</string>
	<string>丑小鸭与白天鹅</string>
	<string>丑小鸭-彭野新儿歌</string>
	<string>丑小鸭和大色狼的故事</string>
	<string>丑小鸭超萌</string>
	<string>一去二三里</string>
	<string>不一样</string>
	<string>不上你的当</string>
	<string>不会掉的巴士小闹钟</string>
	<string>中秋节</string>
	<string>中秋节的由来</string>
	<string>中秋节吉祥大礼</string>
	<string>中秋月儿圆</string>
	<string>三轮车</string>
	<string>三轮车跑的快</string>
	<string>三轮车跑得快</string>
	<string>三轮车跑得快 狐狸和尚 做做做</string>
	<string>三轮老爹</string>
	<string>挥着翅膀的女孩</string>
	<string>挥着鸡翅的女孩</string>
	<string>挂铃铛的小花猫</string>
	<string>挫冰进行曲</string>
	<string>挂国旗</string>
	<string>挖土机找工作</string>
	<string>挂满星星的夜空</string>
	<string>睡着了</string>
	<string>睡觉歌</string>
	<string>睡午觉</string>
	<string>睡吧宝贝</string>
	<string>睡吧小宝贝</string>
	<string>睡吧布娃娃</string>
	<string>睡吧睡吧</string>
	<string>睡吧，小宝贝</string>
	<string>睡吧，宝贝</string>
	<string>睡觉觉</string>
	<string>珍惜时间</string>
	<string>班主任</string>
	<string>珊瑚姑娘</string>
	<string>珍贵的孩子</string>
	<string>珠江游</string>
	<string>葫芦娃</string>
	<string>葫芦娃、黑猫警长、舒克贝塔等萌化图集</string>
	<string>葫芦笙吹响啰</string>
	<string>葫芦笙吹响罗</string>
	<string>葫芦兄弟</string>
	<string>葡萄熟了</string>
	<string>葡萄架下</string>
	<string>葡萄架下红玫瑰</string>
	<string>缆车四方方</string>
	<string>编花篮</string>
	<string>编花篮小景</string>
	<string>摩尔庄园冰世纪片尾曲</string>
	<string>摩登女孩</string>
	<string>摩登天使</string>
	<string>唱大戏</string>
	<string>唱唱跳跳</string>
	<string>唱唱我的名字</string>
	<string>唱响童年</string>
	<string>唱响和平</string>
	<string>唱得响亮</string>
	<string>唱得响亮 童声版</string>
	<string>唱出一个好春天</string>
	<string>唱出一个春天来</string>
	<string>唱呀跳起来</string>
	<string>唱支山歌给党听</string>
	<string>唱支六便士的歌</string>
	<string>唱歌多快乐 唱唱跳跳</string>
	<string>唱歌的小鸟</string>
	<string>唱歌又舞蹈</string>
	<string>唱给爸爸的歌</string>
	<string>唱给爸爸妈妈的歌</string>
	<string>唱给妈妈的摇篮曲</string>
	<string>唱给妈妈的歌</string>
	<string>唱给老师的歌</string>
	<string>唱的幸福落满坡</string>
	<string>唱的响亮</string>
	<string>唱起迎春歌谣来</string>
	<string>唱起来呀跳起来</string>
	<string>唱起来跳起来</string>
	<string>唱起黄梅跳起舞</string>
	<string>唱花儿的花儿</string>
	<string>唱首新年歌</string>
	<string>唯有你的爱</string>
	<string>唐老伯有个小农场</string>
	<string>唐老鸭</string>
	<string>唐老鸭之歌</string>
	<string>唐诗联唱</string>
	<string>唐诗锄禾</string>
	<string>唐诗宋词</string>
	<string>唐僧骑马</string>
	<string>唐僧骑马咚吧啦咚</string>
	<string>唐僧骑马咚啦个咚</string>
	<string>唐僧骑马咚那个咚</string>
	<string>唐僧骑马咚那个咚 </string>
	<string>唐璜小夜曲曲</string>
	<string>新东北风</string>
	<string>新卖报歌</string>
	<string>新少年英雄</string>
	<string>新年乐陶陶</string>
	<string>新年乐满贯</string>
	<string>新年颂</string>
	<string>新年喜洋洋</string>
	<string>新年快乐</string>
	<string>新年新气象</string>
	<string>新年新禧新气象</string>
	<string>新年好</string>
	<string>新年好运乐陶陶</string>
	<string>新年真热闹</string>
	<string>新年真好</string>
	<string>新年到</string>
	<string>新年到了</string>
	<string>新年到来真热闹</string>
	<string>新年到-恭喜发财</string>
	<string>新年来报到</string>
	<string>新年来到</string>
	<string>新年来到多热闹</string>
	<string>新年歌</string>
	<string>新年歌儿大家唱</string>
	<string>新年儿歌</string>
	<string>新年锣鼓</string>
	<string>新年咚咚锵</string>
	<string>新年祝福</string>
	<string>新年愿</string>
	<string>新年恰恰</string>
	<string>新小红帽与大灰狼</string>
	<string>新小兔子乖乖</string>
	<string>新娘子</string>
	<string>新四季歌</string>
	<string>新学堂歌</string>
	<string>新天地</string>
	<string>新春大吉</string>
	<string>新春佳节</string>
	<string>新春喜洋洋</string>
	<string>新春好预兆</string>
	<string>新房子</string>
	<string>新来的小宝宝</string>
	<string>新新宝贝</string>
	<string>新龟兔赛跑</string>
	<string>新鞋子 旧鞋子</string>
	<string>新鞋子旧鞋子</string>
	<string>新的一年</string>
	<string>新疆舞</string>
	<string>新疆好</string>
	<string>新疆吆喝</string>
	<string>新版眼保健操</string>
	<string>新英雄少年</string>
	<string>新贵妃醉酒</string>
	<string>斗鸡鸡</string>
	<string>文具用品名称</string>
	<string>文明礼貌歌</string>
	<string>文明用语</string>
	<string>斑鸠调</string>
	<string>斑马线</string>
	<string>童声里的中国</string>
	<string>竹篱笆</string>
	<string>竹笋娃娃</string>
	<string>竹马游戏</string>
	<string>竹里馆</string>
	<string>竹马谣</string>
	<string>竹叶船</string>
	<string>竹楼情</string>
	<string>竹枝词</string>
	<string>竹枝词九首</string>
	<string>竹枝词二首</string>
	<string>童心唱给党来听</string>
	<string>童心世界</string>
	<string>童心未来</string>
	<string>童心气球</string>
	<string>童心是天堂</string>
	<string>童心是小鸟</string>
	<string>童一首歌</string>
	<string>童丽与古筝的对话</string>
	<string>站柜台</string>
	<string>童年家乡</string>
	<string>童年叮叮当</string>
	<string>童年四季</string>
	<string>童年在长大</string>
	<string>童年学跳皮筋</string>
	<string>童年游想</string>
	<string>童年情景</string>
	<string>童年是什么</string>
	<string>童年最美丽</string>
	<string>童年的太阳小巴郎</string>
	<string>童年的记忆是美丽的画</string>
	<string>童年的时光</string>
	<string>童年的小摇车</string>
	<string>童年的小渔灯</string>
	<string>童年的小车</string>
	<string>童年的追逐</string>
	<string>端午节</string>
	<string>端午节的故事</string>
	<string>端午节划龙舟赛</string>
	<string>童话香巴拉</string>
	<string>童话里奔跑</string>
	<string>童话公主</string>
	<string>童话世界</string>
	<string>立正稍息站好</string>
	<string>立交桥</string>
	<string>童谣伴我快乐成长</string>
	<string>垃圾箱</string>
	<string>垄上行</string>
	<string>垃翻歌</string>
	<string>逢雪宿芙蓉山主人</string>
	<string>造飞机</string>
	<string>送我一枝玫瑰花</string>
	<string>送你五千万</string>
	<string>送你一把泥土</string>
	<string>送你两只幸福的猪</string>
	<string>送东阳马生序</string>
	<string>送元二使安西</string>
	<string>送别</string>
	<string>送别 长亭外</string>
	<string>送给妈妈的茉莉花</string>
	<string>逛北京</string>
	<string>逛公园</string>
	<string>造浪球碰碰船</string>
	<string>音乐会</string>
	<string>音乐精灵</string>
	<string>音乐盒</string>
	<string>音符歌</string>
	<string>韵律操</string>
	<string>韩愈－晚春</string>
	<string>蔷薇处处开</string>
	<string>蔡白糖</string>
	<string>蔬菜</string>
	<string>蔬菜歌</string>
	<string>魔术师</string>
	<string>魔鬼和它的祖母</string>
	<string>魔法棒</string>
	<string>魔幻世界</string>
	<string>魔幻水晶</string>
	<string>魔幻季节</string>
	<string>魔力Girl</string>
	<string>遥控器</string>
	<string>道拉基</string>
	<string>遥远的爸爸妈妈</string>
	<string>遥远的拜年</string>
	<string>遗爱寺</string>
	<string>舒伯特小夜曲</string>
	<string>舒伯特摇篮曲</string>
	<string>舞蹈律动</string>
	<string>舞蹈教学视频</string>
	<string>舞蹈儿歌</string>
	<string>舒克贝塔</string>
	<string>舞公主</string>
	<string>舞动奇迹</string>
	<string>舞龙舞狮庆新年</string>
	<string>航海记</string>
	<string>舞林萌主</string>
	<string>河畔青草青</string>
	<string>河里小鱼游游游</string>
	<string>河里捉螃蟹</string>
	<string>没时间</string>
	<string>沙里洪巴</string>
	<string>沙里红巴</string>
	<string>没办法忘记你</string>
	<string>油画棒（蜡笔）画</string>
	<string>油菜花</string>
	<string>没有鲜花的舞台</string>
	<string>沙啦啦</string>
	<string>沐浴在阳光下</string>
	<string>没关系</string>
	<string>没门牙</string>
	<string>墙上小花鼓</string>
	<string>女人花</string>
	<string>女娲补天</string>
	<string>女孩的心思男孩你别猜</string>
	<string>女孩的心思你别猜</string>
	<string>女儿圈</string>
	<string>女附马</string>
	<string>奶奶的眼镜</string>
	<string>好春光</string>
	<string>好朋友</string>
	<string>好朋友蛋糕</string>
	<string>好朋友进行曲</string>
	<string>好朋友拉拉手</string>
	<string>好朋友来做客</string>
	<string>好时光</string>
	<string>好汉歌</string>
	<string>好日子</string>
	<string>好日子快到了</string>
	<string>好想大声说爱你</string>
	<string>好想好想</string>
	<string>好想跟你在一起</string>
	<string>她将要到山区来</string>
	<string>好大一棵树</string>
	<string>好大一个家</string>
	<string>好听的圣诞歌</string>
	<string>好宝宝</string>
	<string>好娃娃</string>
	<string>好少年</string>
	<string>好妈妈</string>
	<string>好小孩</string>
	<string>好小孩的日记</string>
	<string>好好吃饭</string>
	<string>好好吃饭好好睡觉</string>
	<string>好儿歌</string>
	<string>好呱呱</string>
	<string>好孩子</string>
	<string>好孩子懂礼貌</string>
	<string>好孩子要诚实</string>
	<string>好孩子守纪律</string>
	<string>好奇的小蜜蜂</string>
	<string>奥特曼</string>
	<string>好预兆</string>
	<string>好饿的小蛇</string>
	<string>好阿姨</string>
	<string>好老师</string>
	<string>好运来</string>
	<string>好运跟我来</string>
	<string>好一个乖宝宝</string>
	<string>好一个土娃子</string>
	<string>好一个杨排风</string>
	<string>好一朵美丽的茉莉花</string>
	<string>好一朵小兰花</string>
	<string>好人好梦</string>
	<string>好猎手</string>
	<string>好爸爸</string>
	<string>好爸爸坏爸爸</string>
	<string>好爸爸之路</string>
	<string>好爸爸与坏爸爸</string>
	<string>好爸爸，坏爸爸</string>
	<string>好爸爸 坏爸爸</string>
	<string>奇异恩典</string>
	<string>奇妙的萤火虫</string>
	<string>奥运畅想</string>
	<string>奥林匹克风</string>
	<string>奇怪的下巴</string>
	<string>奇思妙想喜羊羊主题曲</string>
	<string>奔奔</string>
	<string>奇特的动物：长颈鹿的脑袋，斑马的身体</string>
	<string>破阵子为陈同甫赋壮词以寄之</string>
	<string>鬼子进村</string>
	<string>鬼脸娃娃</string>
	<string>值日生</string>
	<string>值日生歌</string>
	<string>月牙船</string>
	<string>月牙泉</string>
	<string>月琴弹起来</string>
	<string>有一只乡下老鼠要到城里去</string>
	<string>有一个美丽的传说</string>
	<string>有一个美丽的村寨</string>
	<string>有你才有温暖的家</string>
	<string>有个名字叫雷锋</string>
	<string>朱迪娜娜</string>
	<string>朝霞太阳</string>
	<string>朵朵猫和点点兔</string>
	<string>朵拉找星星</string>
	<string>最思念的人</string>
	<string>木棉花的春天</string>
	<string>月圆花好</string>
</array>
</plist>
