<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<string>春天</string>
<string>春夜洛城闻笛</string>
<string>春夏秋冬</string>
<string>春夏秋冬四季</string>
<string>春天的芭蕾</string>
<string>春天的花夏天的雨</string>
<string>春天的故事</string>
<string>春天的秘密</string>
<string>春天的童话</string>
<string>春天就是我</string>
<string>春天你在哪里</string>
<string>春天举行音乐会</string>
<string>春天音乐会</string>
<string>春天年年到人间</string>
<string>春天到</string>
<string>春天到万物新</string>
<string>春天到万物兴</string>
<string>春天到了</string>
<string>春天在那里</string>
<string>春天在说话</string>
<string>春天在哪里</string>
<string>春天在哪里呀</string>
<string>春天来</string>
<string>春天来了</string>
<string>春天来临</string>
<string>春天是我们的</string>
<string>春夜喜雨</string>
<string>春天和孩子</string>
<string>春天里</string>
<string>春天里的娃</string>
<string>春天里的童话</string>
<string>春天里的格桑花</string>
<string>春天悄悄来临</string>
<string>春联红</string>
<string>星仔走天涯</string>
<string>春田花花幼儿园校歌</string>
<string>春田花花幼稚园歌</string>
<string>星游记主题曲</string>
<string>星期天</string>
<string>星期一笑得欢</string>
<string>星期歌</string>
<string>星期名称</string>
<string>星星的心</string>
<string>星星的梦</string>
<string>星星的约会</string>
<string>星星唱歌扎西德勒</string>
<string>星星月亮</string>
<string>星星月亮齐欢迎</string>
<string>星星开花</string>
<string>星星点灯</string>
<string>星星和哨兵</string>
<string>星星海</string>
<string>星星宝贝</string>
<string>星星谣</string>
<string>春风它吻上我的脸</string>
<string>春风得意再聚首</string>
<string>春风吻上我的脸</string>
<string>春风催花开</string>
<string>春风满小城</string>
<string>春眠不觉晓</string>
<string>昔仲尼</string>
<string>春姑娘</string>
<string>春姑娘来了</string>
<string>春花儿开</string>
<string>春来了</string>
<string>春播</string>
<string>明亮的眼睛</string>
<string>春光美</string>
<string>春游歌</string>
<string>星球大战</string>
<string>春神来了</string>
<string>春晓</string>
<string>春晓儿歌</string>
<string>春鸟欢歌</string>
<string>明天的太阳更美丽</string>
<string>明天会更好</string>
<string>明天见</string>
<string>星儿亮晶晶</string>
<string>星光闪烁</string>
<string>星光依旧灿烂</string>
<string>是谁把春天吵醒了</string>
<string>是谁吹起金锁呐</string>
<string>是谁嗯嗯在我的头上</string>
<string>明日歌</string>
<string>洗衣歌</string>
<string>洪湖水</string>
<string>洪湖水浪打浪</string>
<string>洪湖岸边</string>
<string>洗澎澎</string>
<string>洗澡歌</string>
<string>洗洗小手</string>
<string>洗洗手</string>
<string>洗手歌</string>
<string>洗手绢</string>
<string>活力小葵花</string>
<string>活力少年</string>
<string>活力少年王</string>
<string>活力青春</string>
<string>洗刷刷</string>
<string>洋娃娃</string>
<string>洋娃娃和小熊跳舞</string>
<string>洋娃娃与小熊跳舞</string>
<string>洋娃娃的舞会</string>
<string>洁白羽毛寄深情</string>
<string>洒水车</string>
<string>洛列莱</string>
<string>洛天依投食歌</string>
<string>洗碗歌</string>
<string>洗白白</string>
<string>红高粱</string>
<string>红太阳照山河</string>
<string>红领巾</string>
<string>红领巾，飘起来</string>
<string>红领巾之歌</string>
<string>红领巾心向党</string>
<string>红领巾 飘起来</string>
<string>红领巾飘起来</string>
<string>红领巾向党唱支歌</string>
<string>红领巾侠</string>
<string>红旗飘飘</string>
<string>红嘴鸥</string>
<string>红小鬼</string>
<string>纺线车</string>
<string>纺织娘</string>
<string>纺织姑娘</string>
<string>红烛颂</string>
<string>红桃q</string>
<string>红丝带</string>
<string>红缨枪</string>
<string>线团咕噜咕噜</string>
<string>纯音乐</string>
<string>红舞鞋</string>
<string>红河谷</string>
<string>红月亮</string>
<string>红眼睛 绿眼睛</string>
<string>红眼睛绿眼睛</string>
<string>红眼睛 绿眼睛 绿眼睛</string>
<string>红莓果</string>
<string>红莓花儿开</string>
<string>红帆</string>
<string>红布包</string>
<string>红帆船</string>
<string>红彩妹妹</string>
<string>红花襟上插</string>
<string>红歌唱得满天红</string>
<string>红星歌</string>
<string>红星照我去战斗</string>
<string>红星闪闪</string>
<string>红红的中国结</string>
<string>红军小学之歌</string>
<string>红公鸡</string>
<string>红鸽子</string>
<string>红孩儿</string>
<string>红黄蓝</string>
<string>红黄蓝宝宝之歌</string>
<string>红蜻蜓</string>
<string>红蜻蜓 蓝蜻蜓</string>
<string>红蜻蜓,蓝蜻蜓</string>
<string>红蜻蜓蓝蜻蜓</string>
<string>红蜻蜓蝴蝶飛呀飛</string>
<string>红绿灯</string>
<string>红梅赞</string>
<string>红灯记</string>
<string>红灯停绿灯行</string>
<string>红灯笼</string>
<string>冰淇淋</string>
<string>冰棍雨</string>
<string>冰雪梦幻</string>
<string>冰糖葫芦</string>
<string>冬天的故事</string>
<string>冬天的童话</string>
<string>冬天下雪了</string>
<string>冬天来了</string>
<string>冬天里</string>
<string>军营里飞来一群老乌鸦</string>
<string>冬爷爷的礼物</string>
<string>冬不拉之歌</string>
<string>军民大生产</string>
<string>再见</string>
<string>再试一下</string>
<string>再试一次</string>
<string>再试试看</string>
<string>再说一声恭喜你</string>
<string>再见歌</string>
<string>再见小时候</string>
<string>再爱我一次好不好</string>
<string>军功章</string>
<string>冬瓜和南瓜</string>
<string>冬冬是个胆小鬼</string>
<string>农家的小女孩</string>
<string>农家好</string>
<string>农家小女孩</string>
<string>农夫与蛇</string>
<string>冬老人与春姑娘</string>
<string>军队进行曲</string>
<string>写给妈妈</string>
<string>再会歌</string>
<string>再会吧</string>
<string>留住阳光</string>
<string>留下吧老师</string>
<string>留守儿童之歌</string>
<string>留给我</string>
<string>兰花草</string>
<string>公交安全儿歌</string>
<string>共同进步</string>
<string>共同长大</string>
<string>共产儿童团歌</string>
<string>共享阳光</string>
<string>共有一个幸福的家</string>
<string>共青团员之歌</string>
<string>共青团团歌</string>
<string>关牧村</string>
<string>兴安河的云雀</string>
<string>兵哥哥</string>
<string>其多列</string>
<string>元宵节</string>
<string>元宵夜</string>
<string>八只小瓷猫</string>
<string>八只小狗抬花轿</string>
<string>八只小鹅</string>
<string>六只小鸭子</string>
<string>公主与小矮人</string>
<string>公主还没来</string>
<string>六一运动会</string>
<string>六一国际儿童节</string>
<string>六一国际儿童节歌</string>
<string>六一儿童节</string>
<string>八月十五月儿圆</string>
<string>八月桂花遍地开</string>
<string>八骏赞</string>
<string>克尼耶</string>
<string>全国少儿讲故事比赛</string>
<string>公园景物名称</string>
<string>八阵图</string>
<string>六十年是一首歌</string>
<string>八瓣花</string>
<string>公共汽车</string>
<string>公共汽车的轮子</string>
<string>光阴的故事</string>
<string>公鸡喔喔叫</string>
<string>公鸡找鞋</string>
<string>公鸡母鸡和小鸡</string>
<string>公鸡没羽毛</string>
<string>六字歌</string>
<string>兔子乖乖</string>
<string>兔子的耳朵为什么这么长</string>
<string>兔子舞</string>
<string>兔子跳跳</string>
<string>兔儿爷</string>
<string>八荣八耻歌</string>
<string>光脚丫</string>
<string>光荣的红领巾</string>
<string>光荣少年</string>
<string>面朝大海</string>
<string>青藏高原</string>
<string>青藏高原是我的家</string>
<string>青萍果乐园</string>
<string>青苹果乐园</string>
<string>青蛙之歌</string>
<string>青蛙大嘴巴</string>
<string>青蛙王子</string>
<string>青蛙笑哈哈</string>
<string>青蛙打哈哈</string>
<string>青蛙打鼓</string>
<string>青蛙不吃水</string>
<string>青蛙最伟大</string>
<string>青蛙妈妈</string>
<string>青蛙跳下水</string>
<string>青蛙和小姑娘</string>
<string>静夜思</string>
<string>青海湖</string>
<string>青海青</string>
<string>青春无悔</string>
<string>青春无敌</string>
<string>青春舞台</string>
<string>青春舞曲</string>
<string>青春飞翔</string>
<string>青春红岩</string>
<string>青青河边草</string>
<string>青青菩提树</string>
<string>青青草</string>
<string>渴望春天</string>
<string>游山西村</string>
<string>游子吟</string>
<string>游园不值</string>
<string>游戏机</string>
<string>温暖依然</string>
<string>温暖有多暖</string>
<string>温暖的家</string>
<string>清亮亮的小河</string>
<string>渭城曲</string>
<string>渔乡的孩子</string>
<string>渔舟唱晚</string>
<string>渔火闪闪</string>
<string>清洁歌</string>
<string>清晨</string>
<string>清晨我上学</string>
<string>清早听到公鸡叫</string>
<string>渔歌子</string>
<string>渔家娃</string>
<string>渔家娃娃真幸福</string>
<string>渔夫和金鱼</string>
<string>渔夫和金鱼的故事</string>
<string>渔光曲</string>
<string>嗨，我的梦</string>
<string>踏着夕阳归去</string>
<string>踏雪寻梅</string>
<string>踢毽子</string>
<string>踩着面包走的女孩</string>
<string>踩水花</string>
<string>踏浪</string>
<string>踢足球</string>
<string>路也长长</string>
<string>跳到我这里来</string>
<string>跳绳歌</string>
<string>跳绳谣</string>
<string>跳皮筋</string>
<string>跳过来</string>
<string>跳起舞</string>
<string>跳跳笑笑</string>
<string>跳跳虎不寂寞</string>
<string>跳舞唱歌</string>
<string>跳舞真开心</string>
<string>跳舞操</string>
<string>跳舞歌</string>
<string>跳野蛮游戏</string>
<string>跳飞机</string>
<string>跷跷板</string>
<string>跟我做</string>
<string>跟我一起说妈妈</string>
<string>跟我这样做</string>
<string>跨世纪的新一代</string>
<string>跑跑跳跳</string>
<string>跪羊图</string>
<string>跟着妈妈走</string>
<string>跟着妈妈走走</string>
<string>跟着共产党</string>
<string>跟彩虹一起成长</string>
<string>路灯下的小女孩</string>
<string>路灯下的小姑娘</string>
<string>锄禾</string>
<string>锄禾日当午</string>
<string>锄禾 彝家娃娃真幸福</string>
<string>隐形的翅膀</string>
<string>畲家娃娃啊哩罗</string>
<string>螳螂拳</string>
<string>螺丝帽</string>
<string>螃蟹</string>
<string>螃蟹体操</string>
<string>螃蟹歌</string>
<string>螃蟹哥</string>
<string>从1数到10</string>
<string>仰望星空告别童年</string>
<string>什么结籽高又高</string>
<string>什么上山吱扭扭</string>
<string>什么虫儿</string>
<string>什么船儿</string>
<string>他们对我说</string>
<string>今夜无人入睡</string>
<string>今年迎春最得意</string>
<string>今天看我</string>
<string>今天是你的生日，妈妈</string>
<string>今天是你的生日，中国</string>
<string>今天是你的生日我的中国</string>
<string>今天星期一</string>
<string>今天我是值日生</string>
<string>今天我做饭</string>
<string>今天我值日</string>
<string>从百草园到三味书屋</string>
<string>从不拒绝归来</string>
<string>从头再来</string>
<string>从前有个老头</string>
<string>从前有座山</string>
<string>脚丫与浪花</string>
<string>我给你拜年</string>
<string>我给宝宝洗澡</string>
<string>我用童心祝福世界</string>
<string>我用歌声放牧白云</string>
<string>我用歌声祝福你</string>
<string>我用我的双手弹钢琴</string>
<string>我眼里的爱</string>
<string>我真的很不错</string>
<string>我的2008</string>
<string>我的头我的肩</string>
<string>我的外婆</string>
<string>我的玩具</string>
<string>我的玩具我自己</string>
<string>我的糖果在哪里</string>
<string>我的皮鞋踏踏响</string>
<string>我的小绵羊</string>
<string>我的小狗在哪里</string>
<string>我的小羊羔</string>
<string>我的小白马</string>
<string>我的小鼓响咚咚</string>
<string>我的小鸡</string>
<string>我的小马车</string>
<string>我的小飞机</string>
<string>我的小宝贝</string>
<string>我的小宝宝</string>
<string>我的小手真灵巧</string>
<string>我的小花园</string>
<string>我的小脸像苹果</string>
<string>我的爷爷</string>
<string>我的爸爸</string>
<string>我的爸爸是超人</string>
<string>我的心是小茉莉</string>
<string>我的白鹅</string>
<string>我的新朋友巧虎</string>
<string>我的童年</string>
<string>我的好朋友</string>
<string>我的好宝宝</string>
<string>我的好妈妈</string>
<string>我的好爸爸</string>
<string>我的最爱</string>
<string>我的朋友在这里</string>
<string>我的朋友在哪里</string>
<string>我的风帆</string>
<string>我的果汁分你一半</string>
<string>我的幼儿园</string>
<string>我的阿爸阿妈</string>
<string>我的妈妈</string>
<string>我的妈妈＋妈妈好＋小鸟可爱</string>
<string>我的地盘</string>
<string>我的歌</string>
<string>我的歌声里</string>
<string>我的身体</string>
<string>我的身体会唱歌</string>
<string>我的青格里</string>
<string>我的脸</string>
<string>我的房子</string>
<string>我的祝福你听见了吗</string>
<string>我的祖国</string>
<string>我的名字叫油娃</string>
<string>我的老师像妈妈</string>
<string>我的学习好伙伴</string>
<string>我的家</string>
<string>我的家乡</string>
<string>我的家乡有一条小河</string>
<string>我的家乡库伦旗</string>
<string>我的家庭＋顽皮的小猫＋小小蚂蚁</string>
<string>我的宝贝</string>
<string>我的宝贝木耳</string>
<string>我的秘密花园</string>
<string>我的绿色家园</string>
<string>我的梦想</string>
<string>我的梅花小鹿</string>
<string>我祝愿</string>
<string>我相信</string>
<string>我相信童年</string>
<string>我知道</string>
<string>我知道你很难过</string>
<string>我知道你一定会来</string>
<string>我爱雪莲花</string>
<string>我爱大红包</string>
<string>我爱天上的星星</string>
<string>我爱太阳我爱月亮</string>
<string>我爱太阳 我爱月亮</string>
<string>我爱北京天安门</string>
<string>我爱鲁西西</string>
<string>我爱小鸟天堂</string>
<string>我爱小青蛙</string>
<string>我爱口哨</string>
<string>我爱你</string>
<string>我爱你那么多</string>
<string>我爱你小小智慧树</string>
<string>我爱你塞北的雪</string>
<string>我爱你中国</string>
<string>我爱你，小熊掌</string>
<string>我爱爷爷奶奶</string>
<string>我爱爸爸</string>
<string>我爱爸爸，我爱妈妈</string>
<string>我爱爸爸妈妈</string>
<string>我爱爸爸,我爱妈妈</string>
<string>我爱爸爸我爱妈妈</string>
<string>我爱中华</string>
<string>我爱唱abc也爱唱哆来咪</string>
<string>我爱新年</string>
<string>我爱好妈妈</string>
<string>我爱米兰</string>
<string>我爱米兰共产儿童歌</string>
<string>我爱幼儿园</string>
<string>我爱妈妈</string>
<string>我爱妈妈的眼睛</string>
<string>我爱圆圈圈</string>
<string>我爱洗澡</string>
<string>我爱洗手</string>
<string>我爱我的小动物</string>
<string>我爱我的钓鱼岛</string>
<string>我爱我的幼儿园</string>
<string>我爱我的祖国</string>
<string>我爱我的家</string>
<string>我爱我家</string>
<string>我爱祖国的大草原</string>
<string>我爱祖国的蓝天</string>
<string> 我爱吃水果</string>
<string>我爱老师的目光</string>
<string>我爱银河</string>
<string>我爱蹦蹦跳</string>
<string>戴眼镜的女孩</string>
<string>我以为</string>
<string>我们走进十月的阳光</string>
<string>我们大家做的好</string>
<string>我们大家做得好</string>
<string>我们多么幸福</string>
<string>我们多幸福</string>
<string>我们生活多美好</string>
<string>我们的心愿</string>
<string>我们的天堂</string>
<string>我们的农庄</string>
<string>我们的梦</string>
<string>我们的朋友</string>
<string>我们的朋友小哪吒</string>
<string>我们的生活多么幸福</string>
<string>我们的田野</string>
<string>我们的玩具</string>
<string>我们的爱</string>
<string>我们的祖国是花园</string>
<string>我们爱</string>
<string>我们爱唱歌</string>
<string>我们爱您</string>
<string>我们爱您啊，中国</string>
<string>我们爱过的日子</string>
<string>我们爱老师</string>
<string>我们不怕大野狼</string>
<string>我们新疆好地方</string>
<string>我们有武功</string>
<string>我们这样长大</string>
<string>我们自己是太阳</string>
<string>我们在行动</string>
<string>我们在一起</string>
<string>我们正青春</string>
<string>我们相聚在北京</string>
<string>我们美丽的祖国</string>
<string>我们都是乖孩子</string>
<string>我们都是小青蛙</string>
<string>我们都是一家人</string>
<string>我们都是好朋友</string>
<string>我们都是好孩子</string>
<string>我们都一样</string>
<string>我们是鲜花</string>
<string>我们是快乐河狸</string>
<string>我们是快乐的小鸟</string>
<string>我们是中班的小朋友</string>
<string>我们是中班小朋友</string>
<string>我们是一家人</string>
<string>我们是好朋友</string>
<string>我们是阳光下好少年</string>
<string>我们是阳光下的好少年</string>
<string>我们是共产主义接班人</string>
<string>我们是害虫</string>
<string>我们是害虫——小时候的事</string>
<string>我们是金色的小童牛</string>
<string>我们从小就相爱</string>
<string>我们要做雷锋式的好少年</string>
<string>我们长大了</string>
<string>我们曾在一起</string>
<string>我们学会了</string>
<string>我们去郊游</string>
<string>我们种树去</string>
<string>我仰望五星红旗</string>
<string>我乘上小马车</string>
<string>我也会唱abc</string>
<string>我上幼儿园</string>
<string>我会变</string>
<string>我会用心爱着你</string>
<string>我会好好吃饭</string>
<string>我会自己刷牙</string>
<string>我会自己洗澡</string>
<string>我会洗手</string>
<string>我会说叔叔好阿姨好</string>
<string>我会听话</string>
<string>我会安全乘车</string>
<string>我不怕</string>
<string>我不怕分开</string>
<string>我不怕黑</string>
<string>我不上你的当</string>
<string>我不想说我是鸡</string>
<string>我不是小公主</string>
<string>我不是郭靖</string>
<string>我不吵</string>
<string>我不吵不闹但是爱运动</string>
<string>我不哭</string>
<string>我演的是我</string>
<string>我渴望飞翔</string>
<string>我服了你 爸爸</string>
<string>我来过，我很乖</string>
<string>我来当老师</string>
<string>我有一头小毛驴</string>
<string>我有一双小小手</string>
<string>我有一双勤劳的手</string>
<string>我有一只小毛驴</string>
<string>我有一只可爱小狗</string>
<string>我有一只可爱的小狗</string>
<string>我有两只手</string>
<string>我有一双万能的手</string>
<string>我有一个小小心愿</string>
<string>我有一个小毛驴</string>
<string>我有一个好爸爸</string>
<string>我有一个布娃娃</string>
<string>我有一个幸福的家</string>
<string>我有一个家</string>
<string>我有个好家庭</string>
<string>我有个好爸爸</string>
<string>我有好妈妈</string>
<string>我曾经捉过一条活鱼</string>
<string>我愿做个好小孩</string>
<string>我是00范儿</string>
<string>我是山里的小歌手</string>
<string>我是山里小歌手</string>
<string>我是汽车小司机</string>
<string>我是大学生</string>
<string>我是大理小金花</string>
<string>我是大班的小朋友</string>
<string>我是礼貌好宝宝</string>
<string>我是小班小朋友</string>
<string>我是小金鱼</string>
<string>我是小宝贝</string>
<string>我是小宝贝不怕累</string>
<string>我是小小音乐家</string>
<string>我是小小兵</string>
<string>我是小海军</string>
<string>我是小蜜蜂</string>
<string>我是只小小鸟</string>
<string>我是你的快乐阳光</string>
<string>我是一颗蒲公英的种子</string>
<string>我是一把小茶壶</string>
<string>我是一棵小小草</string>
<string>我是一只</string>
<string>我是一只大苹果</string>
<string>我是一只小羊羔</string>
<string>我是一只小鸟</string>
<string>我是一只小小鸟</string>
<string>我是一只小松鼠</string>
<string>我是一只鱼</string>
<string>我是一片云</string>
<string>我是一个大苹果</string>
<string>我是一个小茶壶</string>
<string>我是一个好小孩</string>
<string>我是一个粉刷匠</string>
<string>我是一朵小花</string>
<string>我是一粒米</string>
<string>我是中国的好娃娃</string>
<string>我是一条小青龙</string>
<string>我是一条小河</string>
<string>我是好宝宝</string>
<string>我是值日生</string>
<string>我是裕固小羊倌</string>
<string>我是苗山画眉鸟</string>
<string>我是幸福的山娃娃</string>
<string>我是幸福的山里娃</string>
<string>我是男孩我最强</string>
<string>我是花仙子</string>
<string>我是阳光</string>
<string>我是勇敢小兵兵</string>
<string>我是勇敢小娃娃</string>
<string>我是妈妈写的诗</string>
<string>我是卖报的小行家</string>
<string>我是公社的小社员</string>
<string>我是公社小社员</string>
<string>我是曼尼</string>
<string>我是绿叶</string>
<string>我是草原小牧民</string>
<string>我是草原小骑手</string>
<string>我是火药</string>
<string>我最摇摆</string>
<string>我最棒</string>
<string>我最喜欢过大年</string>
<string>我想对妈妈说的话</string>
<string>我想住在鸟巢边</string>
<string>我想有个窝</string>
<string>我想有个家</string>
<string>房子里有箱子</string>
<string>我要读书</string>
<string>我说一谁对一</string>
<string>我要我们在一起</string>
<string>我要为你做饭饭</string>
<string>我要上学</string>
<string>我要做个好小孩</string>
<string>我要刷牙</string>
<string>我要学画画</string>
<string>我自己</string>
<string>我自己扎小辫</string>
<string>我要飞</string>
<string>我要飞翔</string>
<string>我要飞舞</string>
<string>我要高飞</string>
<string>戒烟之歌</string>
<string>戒烟好爸爸</string>
<string>战雷</string>
<string>我唱歌儿</string>
<string>我唱歌儿骑着马</string>
<string>我就是小鸟</string>
<string>我学走路了</string>
<string>我听妈妈讲</string>
<string>我向党来唱支歌</string>
<string>我叫你一声my love</string>
<string>我叫轻轻</string>
<string>我叫妈妈mother</string>
<string>我叫红领巾</string>
<string>我多想</string>
<string>我多想唱</string>
<string>我多想看看</string>
<string>我家住在漓江边</string>
<string>我家的小燕子</string>
<string>我家门前有小河</string>
<string>我家门前有条河</string>
<string>我家有几口</string>
<string>我家有个小九妹</string>
<string>我家小院一幅画</string>
<string>我家小宝贝</string>
<string>我当哥哥了</string>
<string>我心爱的小马车</string>
<string>我心爱的波斯猫</string>
<string>我心飞翔</string>
<string>我心永恒</string>
<string>我快乐</string>
<string>我像小鸟</string>
<string>我很快乐</string>
<string>我很丑</string>
<string>我很丑－童年篇</string>
<string>我很想很想爱你</string>
<string>我很厉害</string>
<string>我和动物的奥运会</string>
<string>我和小狗来唱歌</string>
<string>我和小鸟来唱歌</string>
<string>我和小树来比赛</string>
<string>我和你</string>
<string>我和白云</string>
<string>我和奶奶跳皮影</string>
<string>我和奶奶去买菜</string>
<string>我和星星打电话</string>
<string>我和我的祖国</string>
<string>我和草原一起来唱歌</string>
<string>我和草原有个约定</string>
<string>我多么羡慕你</string>
<string>我喜欢</string>
<string>我喜欢刷牙</string>
<string>我在爱里过家家</string>
<string>我在马路边捡到一分钱</string>
<string>我健康我快乐</string>
<string>我回家乡</string>
<string>我多像一只小鸟</string>
<string>我问小鸭唱什么</string>
<string>我长大了</string>
<string>我长大啦</string>
<string>咱俩好</string>
<string>咱们从小讲礼貌</string>
<string>和狗狗玩猜猜</string>
<string>和爸爸</string>
<string>和爸爸爬山</string>
<string>咏鹅</string>
<string>咏鹅 </string>
<string>咏鹅 古诗</string>
<string>和大灰狼爷爷唱小兔乖乖</string>
<string>和平天使</string>
<string>和平摇着风铃</string>
<string>和平鸽</string>
<string>和妈妈拉勾勾</string>
<string>和小火车学数数和认颜色</string>
<string>和快乐在一起</string>
<string>和动物朋友去春游</string>
<string>和妞妞</string>
<string>和哆哆一起溜滑梯</string>
<string>咬手指头的查理</string>
<string>咿呀子喂</string>
<string>咕咚来了</string>
<string>咕咕宝贝</string>
<string>咕力咕力</string>
<string>咕力咕力主题曲</string>
<string>和月亮对话</string>
<string>和你在一起</string>
<string>咪咪小花猫</string>
<string>咪咪背唐诗</string>
<string>咪咪流浪记</string>
<string>咚巴拉</string>
<string>咚咚喹</string>
<string>咖啡猫</string>
<string>和谐四合院</string>
<string>要有耐心</string>
<string>要下雨了</string>
<string>要做好娃娃</string>
<string>要长高</string>
<string>蝴蝶穿花衣</string>
<string>蝴蝶你找谁</string>
<string>蝴蝶找花</string>
<string>蝴蝶快飞</string>
<string>蝴蝶飞</string>
<string>蝴蝶飞上天</string>
<string>蝴蝶飞啊飞</string>
<string>蝴蝶飞呀</string>
<string>蝴蝶飞飞</string>
<string>蝴蝶花</string>
<string>蝴蝶歌</string>
<string>蝴蝶蝴蝶你找谁</string>
<string>蝴蝶蝴蝶真美丽</string>
<string>蝴蝶谷蝴蝶泉</string>
<string>蝴蝶结</string>
<string>蝈蝈和蛐蛐</string>
<string>浮云游子</string>
<string>浪淘沙</string>
<string>浪淘沙词九首</string>
<string>浏阳河</string>
<string>海天一色</string>
<string>海娃的歌</string>
<string>海尔兄弟</string>
<string>海鸥海鸥我们的朋友</string>
<string>海里来的沙</string>
<string>海贼王主题曲</string>
<string>海豚</string>
<string>海螺姑娘</string>
<string>海洋世界</string>
<string>海拉尔河</string>
<string>海绵宝宝</string>
<string>海绵宝宝主题曲</string>
<string>海的女儿</string>
<string>海的故事</string>
<string>流浪狗</string>
<string>流浪者之歌</string>
<string>浪漫曲</string>
<string>浪花</string>
<string>济公之歌</string>
<string>浪子的心情</string>
<string>傻小子学害怕</string>
<string>傻黑猫</string>
<string>催眠曲</string>
<string>储蓄歌</string>
<string>储蓄罐</string>
<string>罚来罚去</string>
<string>罐子的声音</string>
<string>网小鱼</string>
<string>罗伯格学生王子小夜曲</string>
<string>育儿技巧-识字不用教-小不点幼儿教育大全之语言  </string>
<string>肥羊背唐诗</string>
<string>肚子咕噜噜</string>
<string>长亭外古道边</string>
<string>长得要比爸爸高</string>
<string>长城长</string>
<string>长城谣</string>
<string>长江之歌</string>
<string>长江边的孩子</string>
<string>长江七号爱地球</string>
<string>长江我的家</string>
<string>长歌行</string>
<string>长相思</string>
<string>长鼓舞</string>
<string>长颈鹿</string>
<string>长长的，短短的</string>
<string>闪亮的水晶心</string>
<string>闪亮全世界</string>
<string>闪亮闪亮的小星星</string>
<string>闪亮闪亮小星星</string>
<string>闲聊波尔卡</string>
<string>问天问地</string>
<string>问天问地我问你</string>
<string>问天问地问自己</string>
<string>问题天天都多</string>
<string>闹元宵</string>
<string>闹花灯</string>
<string>问句星星亮也晶</string>
<string>闻一闻</string>
<string>闻官军收河南河北</string>
<string>闻王昌龄左迁龙标遥有此寄</string>
<string>门前大桥下</string>
<string>门前大桥下，游过一群鸭</string>
<string>门前大树高</string>
<string>门前有条小溪流</string>
<string>闪烁的小星星</string>
<string>闪烁的星星</string>
<string>问候歌</string>
<string>问妈妈去</string>
<string>闪光的泡泡</string>
<string>闪光泡泡</string>
<string>闪闪的红星</string>
<string>闪闪星辰</string>
<string>祈祷之歌</string>
<string>神笔马良</string>
<string>祝大家新年快乐</string>
<string>祝君新年好</string>
<string>神话香巴拉</string>
<string>祝福妈妈</string>
<string>祝福歌</string>
<string>祝福你</string>
<string>祝福你亲爱的祖国</string>
<string>祝福你我的祖国</string>
<string>祝福你我亲爱的祖国</string>
<string>祝福老师</string>
<string>祝你生日快乐</string>
<string>祝你生日快乐歌</string>
<string>祝你一路顺风</string>
<string>祝你新年快乐</string>
<string>祝你平安</string>
<string>祝你圣诞快乐</string>
<string>神仙哪里好</string>
<string>神奇钥匙</string>
<string>神兽金刚主题曲</string>
<string>神奇的小树叶</string>
<string>神奇的手指</string>
<string>神奇的七巧板</string>
<string>神奇的种子</string>
<string>祭祖先</string>
<string>祖国，祖国我爱你</string>
<string>祖国大地美如花冠</string>
<string>祖国大花园</string>
<string>祖国像妈妈一样</string>
<string>祖国的歌</string>
<string>祖国你好</string>
<string>祖国一切很美好</string>
<string>祖国最亲</string>
<string>祖国最亲妈妈最好</string>
<string>祖国最亲，妈妈最好</string>
<string>祖国最亲 妈妈最好</string>
<string>祖国最亲,妈妈最好</string>
<string>祖国在我心窝里</string>
<string>祖国是大家的妈妈</string>
<string>祖国是个大花园</string>
<string>祖国是妈妈</string>
<string>祖国我的最爱</string>
<string>祖国和我</string>
<string>祖国祖国多美丽</string>
<string>祖国祖国我爱你</string>
<string>祖国祖国我们爱你</string>
<string>祖国慈祥的母亲</string>
<string>祖国绿色的春天</string>
<string>啊里罗</string>
<string>啊朋友再见</string>
<string>啊，米兰</string>
<string>啊，清泉</string>
<string>啊西里西</string>
<string>啄木鸟</string>
<string>啊牡丹</string>
<string>啊 清泉</string>
<string>啪啪歌</string>
<string>啦啦啦</string>
<string>虹彩妹妹</string>
<string>虔诚祈福</string>
<string>虫儿的歌</string>
<string> 虫儿飞</string>
<string>虫儿飞</string>
<string>虫虫飞</string>
<string>虎妈妈狼爸爸</string>
<string>虎姑婆</string>
<string>晚春</string>
<string>智多星</string>
<string>智勇无敌</string>
<string>智取威虎山·打虎上山</string>
<string>智慧树大苹果</string>
<string>智斗大灰狼</string>
<string>晒太阳</string>
<string>晓出净慈寺送林子方</string>
<string>晚安，宝贝</string>
<string>晚安月光宝贝</string>
<string>晚安歌</string>
<string>晚安曲</string>
<string>晚安宝贝</string>
<string>晚霞中的蜻蜓</string>
<string>晚霞中的红蜻蜓</string>
<string>说唱脸谱</string>
<string>说句心里话</string>
<string>说我像她她像我</string>
<string>说说看</string>
<string>话别</string>
<string>请到我的梦里来</string>
<string>请和谢谢</string>
<string>请让我来帮助你</string>
<string>请跟我来</string>
<string>请跟我做</string>
<string>请你像我这样做</string>
<string>请你唱个歌吧</string>
<string>请你留下来</string>
<string>请你跟我这样做</string>
<string>请你和我跳个舞</string>
<string>请你去问牙买加的女人</string>
<string>请把你的故事告诉我</string>
<string>诸葛亮</string>
<string>识字歌</string>
<string>证明自己</string>
<string>诺亚方舟</string>
<string>读书好</string>
<string>读书郎</string>
<string>读唐诗</string>
<string>读唐诗琵琶行有感</string>
<string>详解指弹吉他苏珊娜</string>
<string>诚实的小孩</string>
<string>诚实守信</string>
<string>诫子书</string>
<string>鸡之歌</string>
<string>鸽子与少年</string>
<string>鸡毛毽子</string>
<string>鸿运当头</string>
<string>鸡有耳朵吗</string>
<string>鸭妈妈和鸡阿姨</string>
<string>鸡妈鸭仔</string>
<string>鸡冠花</string>
<string>鸡公仔</string>
<string>鸡公仔尾弯弯</string>
<string>鸟类天地</string>
<string>鸭和鹅</string>
<string>鸟鸣涧</string>
<string>鸭子拌嘴</string>
<string>鸭子舞</string>
<string>鸭子和鹅</string>
<string>鸭子为什么会游水</string>
<string>鸟弃儿</string>
<string>鸟儿在风中歌唱</string>
<string>鸟归林</string>
<string>更上一层楼</string>
<string>曼珠沙华</string>
<string>曾经的</string>
<string>猜拳歌</string>
<string>猪之歌</string>
<string>猪头哥哥</string>
<string>猫头鹰</string>
<string>猜一猜</string>
<string>猴子捞月</string>
<string>猴子捞月亮</string>
<string>猴子蒸糕</string>
<string>猴子吃掉小桃子</string>
<string>猴子学样</string>
<string>猴子学样 风车转转</string>
<string>猴哥</string>
<string>猴哥猴哥</string>
<string>猴哥 西游记主题曲</string>
<string>猴皮筋我会跳</string>
<string>猪照镜子</string>
<string>猪小弟</string>
<string>猜调新唱</string>
<string>猪坚强</string>
<string>猪你生日快乐</string>
<string>猪你新年好</string>
<string>猫与老鼠</string>
<string>猜猜我是谁</string>
<string>猪都笑了</string>
<string>猫儿追老鼠</string>
<string>猫儿追老鼠逃</string>
<string>猪八戒背媳妇</string>
<string>猪八戒嘴巴长</string>
<string>猪八戒吃西瓜</string>
<string>猜左右手</string>
<string>猫咪的胡子</string>
<string>猫咪别淘气</string>
<string>猫咪洗澡</string>
<string>猫虎歌</string>
<string>猪猪侠</string>
<string>猪猪侠主题曲</string>
<string>猪宝宝的大餐</string>
<string>献给妈妈的爱</string>
<string>献给父亲的歌</string>
<string>献给爱丽丝</string>
<string>献给爸爸的歌</string>
<string>蛋宝宝之歌</string>
<string>蛤蟆大姐穿新衣</string>
<string>蛤蟆吃西瓜</string>
<string>蛤蟆的故事</string>
<string>蛤蟆谣</string>
<string>蛐蛐儿</string>
<string>酷炫男孩</string>
<string>酸酸甜甜就是我</string>
<string>酸葡萄</string>
<string>酒干倘卖无</string>
<string>酒鬼老爸</string>
<string>甩葱歌</string>
<string>番茄红了</string>
<string>名字变变变</string>
<string>吃了没洗过的水果肚子为什么会疼</string>
<string>吱吱叫的鞋子</string>
<string>吱扭扭</string>
<string>吵醒了猎人快快逃</string>
<string>各国儿童心连心</string>
<string>吃麻花</string>
<string>吃饼干</string>
<string>吃饭不挑菜</string>
<string>吃饭真开心</string>
<string>吃饭歌</string>
<string>吆呼尔</string>
<string>吹哨子</string>
<string>吹起小喇叭</string>
<string>吹起葫芦丝</string>
<string>吹起芦笙跳起舞</string>
<string>吹起羌笛跳锅庄</string>
<string>吹芦笙</string>
<string>吹草哨</string>
<string>吹草哨儿</string>
<string>吹泡泡</string>
<string>吹泡泡的少年</string>
<string>合家团圆过新年</string>
<string>同唱一首歌</string>
<string>同心结</string>
<string>向梦想出发</string>
<string>向未来同出发</string>
<string>向日葵</string>
<string>各族小朋友在一起</string>
<string>吉米来吧</string>
<string>吉祥三宝</string>
<string>吉祥拜月亮</string>
<string>吃火鸡</string>
<string>吉林 我可爱的家</string>
<string>听妈妈的话</string>
<string>听妈妈讲那过去的事情</string>
<string>听妈妈讲那过去的故事</string>
<string>听妈妈讲过去的事情</string>
<string>听妈妈歌唱春天的故事</string>
<string>同桌的你</string>
<string>同欢共乐贺新年</string>
<string>君子于役</string>
<string>听故事</string>
<string>吃葡萄</string>
<string>含羞草</string>
<string>后皇嘉树</string>
<string>各种颜色名称</string>
<string>听儿歌</string>
<string>同一首歌</string>
<string>同一个世界同一个梦想</string>
<string>同一个家</string>
<string>同一个梦</string>
<string>同一个梦想</string>
<string>吃水不忘挖井人</string>
<string>吃水果</string>
<string>吃果果</string>
<string>吉隆坡好风光</string>
<string>向天使借对翅膀</string>
<string>向快乐飞翔</string>
<string>向快乐出发</string>
<string>向前冲</string>
<string>向天再借五百年</string>
<string>名侦探柯南主题曲</string>
<string>向雷锋叔叔学习</string>
<string>合拢放开</string>
<string>降g大调即兴曲</string>
<string>除法口诀</string>
<string>老虎是tiger</string>
<string>耶诞扭扭舞</string>
<string>耶诞快乐</string>
<string>老水牛角弯弯</string>
<string>老母鸡</string>
<string>老母鸡带小鸡</string>
<string>老渔翁</string>
<string>老乌鸦</string>
<string>老头子做事总不会错</string>
<string>老家的小木屋</string>
<string>老家门口唱大戏</string>
<string>老奶奶</string>
<string>老公让我为你捶捶背</string>
<string>老公老公我爱你</string>
<string>老实的孩子</string>
<string>老实孩子</string>
<string>老师亲妈妈亲</string>
<string>老师，您辛苦了</string>
<string>老师，您好</string>
<string>老师像妈妈</string>
<string>老师妈妈</string>
<string>老师再见了</string>
<string>老师我们爱您</string>
<string>老师我不想说再见</string>
<string>老师老师</string>
<string>老师老师我爱你</string>
<string>老师您辛苦了</string>
<string>老师您早</string>
<string>老师您好</string>
<string>老婆老婆我爱你</string>
<string>老爹和孙子</string>
<string>老爷爷</string>
<string>老爷车</string>
<string>老狼老狼几点了</string>
<string>老灰马</string>
<string>老狐狸</string>
<string>老鸟小鸟</string>
<string>老鸡骂小鸡</string>
<string>老鸡带小鸡</string>
<string>老鸡说小鸡</string>
<string>老鹰抓小鸡</string>
<string>老鹰捉小鸡</string>
<string>老麦克唐纳</string>
<string>老麦克唐纳有块地</string>
<string>老麦克唐纳有个农场</string>
<string>老黄牛</string>
<string>老鼠娶亲</string>
<string>老鼠赴宴</string>
<string>老鼠搬鸡蛋</string>
<string>老鼠窝</string>
<string>老鼠爱大米</string>
<string>老鼠爱大米mtv</string>
<string>老鼠画猫</string>
<string>老鼠和大象</string>
<string>愤怒的小鸟</string>
<string>感恩大自然</string>
<string>感恩的心</string>
<string>感恩中国</string>
<string>愉快的梦</string>
<string>感谢</string>
<string>愚公移山</string>
<string>感动中国</string>
<string>感冒歌</string>
<string>鞠躬行礼拜新年</string>
<string>鞋子也会踏踏响</string>
<string>麻鹰捉小鸡</string>
<string>麻雀与小孩</string>
<string>麻辣女孩</string>
<string>麻脸郎</string>
<string>麦克唐纳</string>
<string>麦兜兜响当当</string>
<string>麦浪香</string>
<string>学雷锋</string>
<string>学走路</string>
<string>学习1和许多</string>
<string>学习雷锋好榜样</string>
<string>学习解放军</string>
<string>学习歌</string>
<string>学穿衣</string>
<string>孤独的牧羊人</string>
<string>学生时代</string>
<string>学生歌</string>
<string>孝心到永远</string>
<string>学做解放军</string>
<string>学小猫</string>
<string>字母歌</string>
<string>字母歌 ABC Song</string>
<string>字母儿歌letter l</string>
<string>字母和小动物</string>
<string>孟母三迁 </string>
<string>孝亲敬老歌</string>
<string>学唱数字歌</string>
<string>孙悟空模仿秀</string>
<string>孙悟空打妖怪</string>
<string>学好样</string>
<string>学好本领去回答</string>
<string>孙小圣猪小能</string>
<string>学拼音</string>
<string>学拍皮球</string>
<string>孔融让梨</string>
<string>学堂乐歌</string>
<string>学画画</string>
<string>子弟兵与老百姓</string>
<string>学数学</string>
<string>学数数</string>
<string>孤单生日歌</string>
<string>孤儿乐园</string>
<string>学洗衣</string>
<string>学写毛笔字</string>
<string>学游泳</string>
<string>学跳绳</string>
<string>学跳舞</string>
<string>学说话</string>
<string>孩子气</string>
<string>孩子快抓紧妈妈的手</string>
<string>孩子！来跳舞吧</string>
<string>孩子，快抓住妈妈的手</string>
<string>孩子，快抓紧妈妈的手</string>
<string>孩子的梦想</string>
<string>孔子爷爷</string>
<string>响叮当</string>
<string>哪屋元宵扑鼻香</string>
<string>哦，十分钟</string>
<string>哦！十分钟</string>
<string>哦，亲爱的爸爸</string>
<string>哦，香格里拉</string>
<string>哆啦a梦</string>
<string>哆啦a梦主题曲</string>
<string>哈尼</string>
<string>哈巴狗</string>
<string>哈密瓜熟了</string>
<string>哈利波特</string>
<string>哈哈笑</string>
<string>哈哈七巧七巧</string>
<string>哆来咪</string>
<string>哆来咪发梭拉西</string>
<string>哆来咪发嗦</string>
<string>哆来咪发嗦拉西</string>
<string>哇哇报</string>
<string>哇哈哈</string>
<string>哗啦啦啦啦下雨了</string>
<string>哗啦啦啦啦啦 下雨了</string>
<string>哭着笑着就长大了</string>
<string>哈里罗</string>
<string>哥儿俩</string>
<string>哦课间十分钟</string>
<string>哪吒闹海</string>
<string>哎呀呀</string>
<string>哎呀我的沙娃娃</string>
<string>哈达飘起的地方</string>
<string>知了蜜蜂不一样</string>
<string>石头剪刀布</string>
<string>石头剪子布</string>
<string>石竹花</string>
<string>石灰吟</string>
<string>石榴娃娃</string>
<string>石榴花</string>
<string>石拱桥</string>
<string>石湾公仔谣</string>
<string>石板路</string>
<string>矮胖子</string>
<string>矮胖子癞蛤蟆</string>
<string>铁臂阿童木</string>
<string>银色的马车从天上来</string>
<string>铃儿叮当响</string>
<string>铃铛舞</string>
<string>铃铃铃</string>
<string>铁棒磨成针</string>
<string>铁板烧</string>
<string>铺满鲜花的路</string>
<string>铿锵男孩</string>
<string>铅笔盒幻想曲</string>
<string>铃而响叮当</string>
<string>铡美案</string>
<string>搭小屋</string>
<string>搭房子</string>
<string>搭积木</string>
<string>慢慢走</string>
<string>西伦达</string>
<string>西北雨</string>
<string>西北雨直直落</string>
<string>西天取经</string>
<string>西姐决定宅家吹泡泡</string>
<string>西太后把国卖</string>
<string>西游记</string>
<string>西游记儿歌</string>
<string>西游记歪传</string>
<string>西柏坡</string>
<string>西湖春晓</string>
<string>西瓜</string>
<string>西瓜大</string>
<string>西瓜歌</string>
<string>西红柿</string>
<string>西班牙小夜曲</string>
<string>西风的话</string>
<string>客人来</string>
<string>客人来了</string>
<string>客人走</string>
<string>宠坏了的小燕子</string>
<string>宣州谢脁搂饯别校书叔云</string>
<string>完美的一天</string>
<string>家乡的山楂果</string>
<string>家乡美祖国亲</string>
<string>家乡美 祖国亲</string>
<string>家畜家禽名称</string>
<string>家的牵挂</string>
<string>家族歌</string>
<string>家族歌 </string>
<string>家有小熊</string>
<string>家有瓷娃娃</string>
<string>家务小帮手</string>
<string>家庭礼貌称呼歌</string>
<string>家庭成员称呼</string>
<string>家庭称呼礼貌歌</string>
<string>家庭称呼歌</string>
<string>宝宝</string>
<string>宝宝的对话</string>
<string>宝宝的洗澡盆</string>
<string>宝宝的笑容</string>
<string>宝宝护理</string>
<string>宝宝健康操</string>
<string>宝宝笑了</string>
<string>宝宝爱妈妈</string>
<string>宝宝爱喝水</string>
<string>宝宝打电话</string>
<string>宝宝不怕冷</string>
<string>宝宝睡觉</string>
<string>宝宝睡觉了</string>
<string>宝宝睡着了</string>
<string>宝宝看书</string>
<string>宝宝过新年</string>
<string>宝宝幼儿园</string>
<string>宝宝困了</string>
<string>宝宝教育</string>
<string>宝宝洗澡</string>
<string>宝宝要睡觉</string>
<string>宝宝吃饭</string>
<string>宝宝学习</string>
<string>宝宝学游泳</string>
<string>宝宝学说我爱你</string>
<string>宝宝学说话</string>
<string>宝宝搭积木</string>
<string>宝宝荡秋千</string>
<string>守年的传说</string>
<string>守塔人奥列</string>
<string>官封弼马温</string>
<string>宝莲灯</string>
<string>宝贝箱子</string>
<string>宝贝当当歌</string>
<string>宝贝歌</string>
<string>宝贝学</string>
<string>宝贝宝贝</string>
<string>宝贝宝贝对不起</string>
<string>宝贝宝贝我爱你</string>
<string>宝贝去哪儿</string>
<string>宠物小精灵</string>
<string>宿建德江</string>
<string>宿新市徐公店</string>
<string>守住这一片阳光</string>
<string>安睡吧小宝贝</string>
<string>安斯搭架子</string>
<string>安全乘车</string>
<string>安全谣</string>
<string>安吉百草园</string>
<string>它是谁</string>
<string>宁静的夏天</string>
<string>定计划</string>
<string>守株待兔</string>
<string>守护甜心主题曲</string>
<string>守护阳光</string>
<string>醉乡民谣</string>
<string>醉翁亭记</string>
<string>醒目仔</string>
<string>醒来了</string>
<string>重整河山待后生</string>
<string>金狮拜年</string>
<string>金索玛 小阿妹</string>
<string>金燕子</string>
<string>金瓶似的小山</string>
<string>金翅膀的百灵鸟</string>
<string>采莲歌</string>
<string>采莲谣</string>
<string>采草莓</string>
<string>采草莓的小姑娘</string>
<string>采茶舞曲</string>
<string>采蘑菇</string>
<string>采蘑菇的小女孩</string>
<string>采蘑菇的小姑娘</string>
<string>采蘑菇的姑娘</string>
<string>金色太阳</string>
<string>金色的太阳先生</string>
<string>金色的芦笙吹起来</string>
<string>金色的木鼓敲起来</string>
<string>金色的童年</string>
<string>金色的童年是一首歌</string>
<string>金色童年</string>
<string>金色童年  铿锵鼓乐</string>
<string>金葫芦</string>
<string>金葵花</string>
<string>金蛇贺岁</string>
<string>采树种</string>
<string>野玫瑰</string>
<string>野百合也有春天</string>
<string>野牵牛</string>
<string>量词歌</string>
<string>野外旅行</string>
<string>野小子</string>
<string>野天鹅</string>
<string>野兽动物名称</string>
<string>采一束鲜花</string>
<string>金兔大拜年</string>
<string>金娃娃和小熊跳舞</string>
<string>金娃儿</string>
<string>金凤蝶</string>
<string>金孔雀</string>
<string>金孔雀轻轻地跳</string>
<string>金孔雀轻轻跳</string>
<string>金刚葫芦娃</string>
<string>金鱼歌</string>
<string>金钩钩</string>
<string>金鸡报喜</string>
<string>金钱豹</string>
<string>金银花</string>
<string>金龟子畅想</string>
<string>野蜂飞舞</string>
<string>野菊花</string>
<string>重阳糕</string>
<string>蹦蹦虫</string>
<string>燕子来了</string>
<string>燕儿飞</string>
<string>越长大越孤单</string>
<string>趣味数数</string>
<string>超人老爸</string>
<string>超乎想象的海洋馆</string>
<string>超级娃娃</string>
<string>超级马里奥</string>
<string>雨中即景</string>
<string>菊花开</string>
<string>菠萝菠萝蜜</string>
<string>菩提本无树</string>
<string>菩提树</string>
<string>菩提树下</string>
<string>去一个美丽的地方</string>
<string>去云彩里躲猫猫</string>
<string>去动物园</string>
<string>去郊游</string>
<string>去长城</string>
<string>去远方</string>
<string>去踏浪</string>
<string>压岁钱</string>
<string>原野牧歌</string>
<string>谁说女子不如男</string>
<string>谁要你理睬</string>
<string>谁谁谁的北京故事</string>
<string>谁能学得好</string>
<string>谁跟我玩儿</string>
<string>谦让歌</string>
<string>谷穗上的蝈蝈</string>
<string>调味品</string>
<string>调味品  </string>
<string>谁来伺 候妈</string>
<string>谁来擦一擦</string>
<string>谁更快</string>
<string>谁是快递</string>
<string>谁最快活</string>
<string>谜语歌</string>
<string>谁会飞</string>
<string>谁会这样</string>
<string>谁不乖</string>
<string>谁不说俺家乡好</string>
<string>谁咬了我的大饼</string>
<string>谁和谁好</string>
<string>谢不平常</string>
<string>调皮的小羊羊</string>
<string>谁的尾巴</string>
<string>谁的尾巴长</string>
<string>谁的小手帕</string>
<string>谁的钱包</string>
<string>谁的耳朵</string>
<string>谐趣歌</string>
<string>调色板</string>
<string>谁饿了</string>
<string>谢谢！你好</string>
<string>谢谢你</string>
<string>谢谢你陪我过</string>
<string>谢谢 你好</string>
<string>谢谢你常记得我</string>
<string>谢谢你的爱</string>
<string>谭谈交通-警官 我爱你_谭谈交通网</string>
<string>谢谢妈妈</string>
<string>黑绵羊</string>
<string>黑眼睛</string>
<string>黑眼睛的哥萨克姑娘</string>
<string>黑猫警长</string>
<string>黑猫警长主题曲</string>
<string>黑猫警长在行动</string>
<string>黄鹤楼</string>
<string>黄鹤楼送孟浩然之广陵</string>
<string>黄鼠狼拜年</string>
<string>黄鼠狼给鸡拜年</string>
<string>黄金甲</string>
<string>黄妖怪火车</string>
<string>黄菊花开了</string>
<string>黄河涛声</string>
<string>黄梅戏 女附马 打猪草 夫妻观灯 天仙配</string>
<string>黄昏晓</string>
<string>黎明的小星星</string>
<string>恭喜恭喜</string>
<string>恭喜恭喜恭喜你</string>
<string>恭喜恭喜你</string>
<string>恭喜新年到</string>
<string>恭喜你</string>
<string>恭喜你发财</string>
<string>恭喜大发财</string>
<string>恭喜大家过新年</string>
<string>恭喜发财</string>
<string>恭喜发财发大财</string>
<string>恭喜发财 红包拿来</string>
<string>恭喜好运来</string>
<string>恐龙特急克塞号</string>
<string>恭贺圣诞快乐</string>
<string>恭贺新年</string>
<string>恭祝生日快乐</string>
<string>蜜桔甜甜蜜桔圆圆</string>
<string>蜡笔小新</string>
<string>蜜蜂做工</string>
<string>蜜蜂飞舞</string>
<string>蜗牛的家</string>
<string>蜗牛出门</string>
<string>蜗牛与黄鹂鸟</string>
<string>蜗牛与玫瑰树</string>
<string>蜗牛和玫瑰树</string>
<string>蜗牛和黄鹂</string>
<string>蜗牛和黄鹂鸟</string>
<string>蜘蛛侠</string>
<string>蜘蛛结网怎么不会粘住它自己</string>
<string>犬夜叉</string>
<string>樱桃小丸子</string>
<string>樱桃小丸子片尾曲</string>
<string>樱桃小丸子主题曲</string>
<string>樱花</string>
<string>樱花草</string>
<string>秧歌舞</string>
<string>种太阳</string>
<string>种树歌</string>
<string>秘密花园</string>
<string>秀才骑马弄弄来</string>
<string>积木真好玩</string>
<string>秋天多么美</string>
<string>秋天多美</string>
<string>秋天的</string>
<string>秋天到</string>
<string>秋天来了</string>
<string>秋夜将晓出篱门迎凉有感</string>
<string>秋天秋天多么美</string>
<string>秋天秋天多美丽</string>
<string>种莲子</string>
<string>种西瓜</string>
<string>种瓜</string>
<string>种甜瓜</string>
<string>种玉米</string>
<string>秋浦歌</string>
<string>种一棵小树</string>
<string>侗乡小歌台</string>
<string>维也纳森林</string>
<string>维也纳森林的故事</string>
<string>给鸡拜年的黄鼠狼 少儿故事</string>
<string>绵羊</string>
<string>绝句·迟日江山丽</string>
<string>练字谣</string>
<string>经典儿歌</string>
<string>经典儿歌联唱</string>
<string>经典儿歌荟萃</string>
<string>结识新朋友</string>
<string>织布娘</string>
<string>织布歌</string>
<string>绿军装的梦</string>
<string>绿岛小夜曲</string>
<string>绿化我家</string>
<string>绿流氓</string>
<string>绿色的</string>
<string>绿色的小青蛙</string>
<string>绿色的歌谣</string>
<string>绿色的祖国</string>
<string>绿色的童谣</string>
<string>绿色小矮人</string>
<string>绿色食品歌</string>
<string>绿色祖国</string>
<string>绿袖子</string>
<string>绿野仙踪</string>
<string>绿飘带</string>
<string>绿飘带飘起来</string>
<string>给我找颗小星星</string>
<string>给我一个拥抱</string>
<string>给我一个星期天</string>
<string>给妈妈的歌</string>
<string>细雨长歌</string>
<string>绕阳河母亲河</string>
<string>细菌</string>
<string>练毛笔字视频</string>
<string>给书包减肥</string>
<string>绣金匾</string>
<string>给爷爷打电话</string>
<string>给猫和狐狸打电话</string>
<string>梦的眼睛</string>
<string>梦的翅膀</string>
<string>梦的翅膀受了伤</string>
<string>梦中的额吉</string>
<string>梦中的格桑梅朵</string>
<string>梦想巴士</string>
<string>梦想的力量</string>
<string>梦想的翅膀</string>
<string>梦想成真</string>
<string>梦想星天地</string>
<string>梦想起航</string>
<string>梦想飞翔</string>
<string>梦见草原</string>
<string>梦见草原梦见你</string>
<string>梦见毛主席</string>
<string>梦幻曲</string>
<string>梦幻王国</string>
<string>梦春秋</string>
<string>梦里水乡</string>
<string>梅花鹿</string>
<string>梅花鹿我们喜欢你</string>
<string>梅花鹿的传说</string>
<string>荧火虫</string>
<string>荧火虫为什么会发光</string>
<string>荷塘月色</string>
<string>荷叶伞</string>
<string>荷塘边的歌谣</string>
<string>荷包蛋</string>
<string>荷花池</string>
<string>荷花姑娘</string>
<string>荷花儿和我们都是小青蛙</string>
<string>荷花红荷叶绿</string>
<string>荫中鸟</string>
<string>草地上</string>
<string>草原赞歌</string>
<string>草原夜色美</string>
<string>草原小牧民</string>
<string>草原小姐妹</string>
<string>草原小姑娘</string>
<string>草原英雄小姐妹</string>
<string>草原节拍</string>
<string>草原蒙古人家</string>
<string>草原我的家</string>
<string>草原宝贝</string>
<string>荡秋千</string>
<string>草莓之歌</string>
<string>草莓简笔画教程</string>
<string>草莓牛奶糖</string>
<string>草裙舞</string>
<string>灰太熊数手指</string>
<string>灰姑娘</string>
<string>灰姑娘的屋</string>
<string>灰姑娘的梦</string>
<string>灌篮高手 主题曲</string>
<string>灵魂的天使</string>
<string>火力全开龙的传人</string>
<string>火腿和鸡蛋</string>
<string>灯笼舞</string>
<string>灯笼亮又亮</string>
<string>火车就要开</string>
<string>火车快飞</string>
<string>火车开了</string>
<string>火车来了</string>
<string>火车向着韶山跑</string>
<string>火影忍者</string>
<string>火花</string>
<string>火星果冻</string>
<string>火星叔叔马丁</string>
<string>火鸡真美丽</string>
<string>火金姑</string>
</array>
</plist>